:host /deep/ .handsontable .columnSorting.descending::after {
    content: ' \25BC';
    color: #000 !important;
    position: absolute;
    right: -18px;
}

:host /deep/ .handsontable .columnSorting.ascending::after {
    content: ' \25B2';
    color: #000 !important;
    position: absolute;
    right: -18px;
}
