<div *ngFor='let legend of allLegends' style='border-bottom-width: 1px;'>
    <!-- <div class='legendHeader'>{{legend.name}}</div> -->
    <!-- Shape -->
    <div *ngIf='legend.type === "SHAPE"'>
        <div *ngFor='let label of legend.labels; let i = index;' class='legendItem'>
            <img class='swatch' src='{{legend.values[i]}}'> {{label}}
            <div class='swatchButtons'>
                <a href='#' class='os-link' (click)='select()' class=''>Select</a> |
                <a href='#' class='os-link' (click)='deselect()' class=''>Deselect</a>
            </div>
        </div>
    </div>
    <!-- Color -->
    <div *ngIf='legend.type === "COLOR"'>
        <div *ngFor='let label of legend.labels; let i = index;' class='legendItem'>
            <div class='swatch' [style.background-color]='legend.values[i]'></div>
            {{label}}
            <!-- <div class='swatchButtons'>
                <a href='#' class='os-link' (click)='select()' class=''>Select</a> |
                <a href='#' class='os-link' (click)='deselect()' class=''>Deselect</a>
            </div> -->
        </div>
    </div>
</div>