<div class="card" style="width:800px;height:auto; background:#FFFFFF;position:absolute;left:100px;top:100px;" [ng2-draggable]=true [ng2DraggableHandle]="titlebar">
    <div class="card-title-bar" #titlebar style="text-align:center;background: #029BE5; color:#FFF; font-weight:normal; font-size:12px; padding:5px 10px;">
        Data Sources
        <!-- <a class="btn-small waves-effect waves-light" style="float:right;" (click)="filePanelToggle.emit()">
                <i style="padding-top:4px;" class="material-icons">clear</i>
            </a> -->
    </div>
    <div style="float:left;width:100px;border:solid 0px #efefef;border-right-width:1px;">
        <div class="filepanel-datsource-btn" (click)='showDatasource(1)'
            [ngClass]="{'tabSelected': tab === 1 }">
            <img src='./assets/logo-oncoscape.png'> Oncoscape
        </div>
        <div class="filepanel-datsource-btn" (click)='showDatasource(2)'
            [ngClass]="{'tabSelected': tab === 2 }">
            <img src='./assets/logo-tcga.png'> TCGA
        </div>
        <div class="filepanel-datsource-btn" (click)='showDatasource(3)'
            [ngClass]="{'tabSelected': tab === 3 }">
            <img src='./assets/logo-pcawg.png'> PCAWG
        </div>
        <div class="filepanel-datsource-btn" (click)='showDatasource(4)'
            [ngClass]="{'tabSelected': tab === 4 }">
            <img src='./assets/logo-basespace.png'> BaseSpace
        </div>
    </div>
    <div>
        <div style="padding:20px;margin-left:100px;min-height:396px;" *ngIf='tab == 3'>
            <p class="h1">Coming Soon...</p>
            <p class="desc">The PCAWG study is an international collaboration to identify common patterns of mutation in more than 2,800 cancer whole genomes from the International Cancer Genome Consortium. The project produced large amount data with many types including simple somatic mutations (SNVs, MNVs and small INDELs), large-scale somatic structural variations, copy number alterations, germline variations, RNA expression profiles, gene fusions, and phenotypic annotations etc. PCAWG data have been imported, processed and made available in the following four major online resources for download and exploration by the cancer researchers worldwide.</p>
        </div>
        <div style="padding:20px;margin-left:100px;min-height:396px;" *ngIf='tab == 4'>
                <p class="h1">Coming Soon...</p>
                <p class="desc">BaseSpace Sequence Hub is the Illumina cloud computing environment for analyzing sequencing data. You will be able to stream data directly from your sequencing run from HiSeq, NextSeq, MiSeq, and MiniSeq systems into Oncoscape.</p>
            </div>
        <div style="padding:20px;margin-left:100px;" *ngIf='tab == 1'>
            <p class="h1">Excel Upload</p>
            <p class="desc">Format your data in Excel and load it into Oncosacpe.  Your data will never be saved to the cloud.</p>
            <p class="buttons"><a href="">Upload XLS</a><span class='pipe'>|</span><a href="">Learn More</a></p>
            <p class="h1">OSF Files</p>
            <p class="desc">OncoScape Files (.OSF) contain both data and layout information.  To create an OSF select 'save' from the file menu.</p>
            <p class="buttons"><a href="">Open File</a><span class='pipe'>|</span><a href="">Learn More</a></p>
            <p class="h1">Data Portal</p>
            <p class="desc">Upload, Publish and Share your datasets in our secure cloud enviroment.</p>
            <p class="buttons"><a href="">Goto Portal</a><span class='pipe'>|</span><a href="">Learn More</a></p>
            <p class="h1">URL</p>
            <p class="desc">For those interested in hosting their own datasets</p>
            <p class="buttons"><input style="width:400px;" type='text' placeholder="Enter manifest location"></p>
        </div>
        <app-workspace-tcga-panel *ngIf='tab == 2' style="padding-top:20px;min-height:396px;"
        (loadTcga)="loadTcga($event)"
        ></app-workspace-tcga-panel>
    </div>
</div>