@import '~@angular/material/theming';
@import 'src/theme.scss';
.panel-button-image {
  cursor: pointer;
  display: block;
  position: relative;

  span {
    line-height: 30px;
    vertical-align: top;
    padding-left: 10px;
  }
}
