@import '~@angular/material/theming';
@import 'src/theme.scss';
.panel-button-image {
  cursor: pointer;
  display: block;
  position: relative;

  span {
    line-height: 30px;
    vertical-align: top;
    padding-left: 10px;
  }
}
.example-selected-value {
  margin: 5px 0;
}
.test {
  position: absolute;
    right: 15px;
    line-height: 30px;
}
.example-form-field {
  min-width: 150px;
  max-width: 700px;
  width: 50%;
}
.mat-tooltip {
  color: #1e88e5 !important; 
  background: #eee !important; 
}