<div>

    <h1>To get started, all we need is some data.</h1>
    <h2>
        Visualize your own data or explore one of TGCA datasets below.
        
<!--         
        If you are interested in viewing your own data there are two options.<br />
    
        1) Upload the data to our private data hub and share it with your collaborators.
        <a href="https://dev.oncoscape.sttrcancer.io/upload/#/projects/dashboard">Visit Data Hub</a><br />
    
        2) Read the data directly off your computer and rest assured it will never be saved to the cloud.
        <a href="https://dev.oncoscape.sttrcancer.io/upload/#/projects/dashboard">Analyze Excel File</a><br />
        Alternatively, feel free to explore one of TCGA datasets below. -->
    </h2>

    
    <img style='height:30px;float:left' src='./assets/disease/imgDSadrenal.png'><div style='line-height:30px;overflow: hidden;
    text-overflow: ellipsis;font-size:1.5rem;'>&nbsp;Upload An Excel File</div>
    <img style='height:30px;float:left' src='./assets/disease/imgDSadrenal.png'><div style='line-height:30px;overflow: hidden;
    text-overflow: ellipsis;font-size:1.5rem;'>&nbsp;Oncoscape Data Hub</div>

    <app-workspace-tcga-panel class='file-panel-tcga' (loadTcga)='loadTcga.next($event)'></app-workspace-tcga-panel>

</div>