<div class="panel g">
        <div class='sm-1 os-md-1-24 md-22-24'>
                <a href='#' class='modalClose' (click)='closeClick()'></a>
                <h1 class='panel-header'>Data Sets</h1>
                <p class='panel-header-desc'>Select from public data sets, or visualize your own.</p>
        </div>
        <div class='os-sm-1-24 sm-1-22 md-7-24'>
                <h2 class='panel-column-title'>My Datasets</h2>
                <a class='panel-button-image' (click)='uploadExcelClick() '>
                        <img src='./assets/logo-excel.png'>
                        <span>Upload an Excel File</span>
                </a>
                <a class='panel-button-image ' (click)='uploadHubClick() '>
                        <img src='./assets/logo-cloud.png '>
                        <span>Upload to Data Hub</span>
                </a>
        </div>
        <div class='sm-1 md-15-24'>
                <h2 class='panel-column-title'>Public Data Sets</h2>
                <div class='g'>
                        <div class='sm-1 md-1-3' *ngFor='let dataset of datasets; let i=i ndex '>
                                <a class='panel-button-image' (click)='this.loadTcga.emit(dataset) '>
                                        <img src='./assets/disease/img{{dataset.img}}.png '>
                                        <span>{{dataset.name}}</span>
                                </a>
                        </div>
                </div>
        </div>
</div>