@import '~@angular/material/theming';
@import 'src/theme.scss';
.infoPanel {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  top: 30px;
  border: 0px solid rgba(0, 0, 0, 0.12);
  border-bottom-width: 1px;
  height: 50px;
  line-height: 50px;
  left: 330px;
  right: 0px;
  text-align: center;
  font-weight: 300;
  padding-right: 300px;
  mat-icon {
    transform: translateY(7px);
    padding: 0px 2px 0px 40px;
  }
}
