
.axis {
  font-family: 'Lato, monospace';
  font-weight: 300;
  font-size: 13px;
}

.bar:hover { fill: #6ab7ff; }

.title {
  font-family: 'Lato, monospace';
  font-weight: 300;
  font-size: 14px;
}
.cat {
  color: 'red';
}

