
// .axis {
//   font-weight: 400;
//   font-size: 12px;
//   text-transform: uppercase;
// }

.bar:hover { fill: #6ab7ff; }

.title {
  font-weight: 400;
  font-size: 12px;

  text-transform: uppercase;
}

.xAxisLabels {
  font-weight: 400;
  font-size: 10px;
}




