// Responsive Mobile First
@import '~@angular/material/theming';
@import 'src/theme.scss';
.feedback-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.feedback-full-width {
  width: 100%;
}
