<div class="feedback-modal-panel">
  <div class='row'>
    <a href='#' class='modalClose' (click)='closeClick()'></a>
    <div class='col s12 m9'>
      <h1 class='feedback-h1'>Feedback</h1>
      <h2 style="text-align:center;" class='feedback-h2'>Contact the Oncoscape Team</h2>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Subject">
            <mat-option value="option">General Inquiry</mat-option>
            <mat-option value="option">Developer Collaboration</mat-option>
            <mat-option value="option">Research Collaboration</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
