// Responsive Mobile First
@import '~@angular/material/theming';
@import 'src/theme.scss';
.feedback-container {
  display: flex;
  flex-direction: column;
}

.feedback-container>* {
  width: 100%;
}
