<div class="panel">
  <div>
    <a href='#' class='modalClose' (click)='closeClick()'>
    </a>
    <h1 class='panel-header'>Feedback</h1>
    <h2 class='panel-header-desc'>Contact the Oncoscape Team</h2>
  </div>
  <div class="feedback-container">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
    <!-- fix email -->
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Institution">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Choose One">
        <mat-option value="option">General Inquiry</mat-option>
        <mat-option value="option">Developer Collaboration</mat-option>
        <mat-option value="option">Research Collaboration</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Comments"></textarea>
    </mat-form-field>
  </div>
  <button class='button' mat-raised-button>Send Message!</button>
</div>
