<div class="panel">
  <div>
    <a href='#' class='modalClose' (click)='closeClick()'>
    </a>
    <h1 class='panel-header'>Feedback</h1>
    <h2 class='panel-header-desc'>Contact the Oncoscape Team</h2>
  </div>
  <form class="feedback-form">
    <mat-form-field class="feedback-full-width">
      <textarea matInput placeholder="Name"></textarea>
    </mat-form-field>
    <mat-form-field class="feedback-full-width">
      <textarea matInput placeholder="Institution"></textarea>
    </mat-form-field>
    <mat-form-field class="feedback-full-width">
      <textarea matInput placeholder="Email"></textarea>
    </mat-form-field>
    <mat-form-field class="feedback-full-width">
      <textarea matInput placeholder="Comments"></textarea>
    </mat-form-field>
  </form>
</div>
