<div style="position:absolute;left:0px;top:0px;right:0px;bottom:0px;">
    <div #container style="position:absolute;width:100%; height:100vh;"></div>
    <div #labelAContainer style="width:50%; height:100vh; pointer-events:none;position:absolute;">
        <div #labelsA style="position:relative;"></div>
    </div>
    <div #labelBContainer style="width:50%; left: 50%; height:100vh; pointer-events:none;position:absolute;">
        <div #labelsB style="position:relative;"></div>
    </div>
    <div #labelsE></div>
</div>