.vg-tooltip {
    visibility: hidden;
    padding: 3px;
    border-radius: 3px;
    position: fixed;
    z-index: 2000;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #d9d9d9;
    color: black;
  }
   .vg-tooltip td.key, .vg-tooltip td.value {
     overflow: hidden;
     text-overflow: ellipsis;
   }   .vg-tooltip td.key {
     color: #808080;
     max-width: 50px;
     text-align: right;
     padding-right: 1px;
   }
   .vg-tooltip td.value {
     max-width: 20px;
     text-align: left;
   }
  
  /* Dark and light color themes */
  .vg-tooltip.dark-theme {
    background-color: rgba(64, 64, 64, 0.9);
    border: none;
    color: white;
  }
  .vg-tooltip.dark-theme td.key {
    color: #bfbfbf;
  }
  .vg-tooltip.light-theme {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #d9d9d9;
    color: black;
  }
  .vg-tooltip.light-theme td.key {
    color: #808080;
   }