<div class="card" style="width:225px;">
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" #tabs>
            <li class="tab">
                <a class="active">Stats</a>
            </li>
        </ul>
    </div>
    <div class="card-content" style="padding: 15px;">
        <!-- <div class="form-group">
            <label class="center-block"><span class="form-label">Metric</span>
            <select class="browser-default" materialize="material_select"
                [materializeSelectOptions]="visualizationOptions">
                <option *ngFor="let option of metrics" [value]="option">{{option.label}}</option>
            </select>
            </label>
        </div>  -->

        <!-- <span style="font-size:8px;">{{data | json}}</span> -->
        <div id="stat-panel-chart"></div>
        <!-- <ng-template #chartContainer></ng-template> -->
            
    </div>
</div>