.graphPanel {
    overflow-y: scroll;
    overflow-x: visible;
    position: absolute;
    top: 0px;
    height: 100vh;
    bottom:0px;
    width:auto;
    // box-shadow: 0px 2px 4px #ddd;
}

.graphPanelExpanded {
    width: 267px;
    border: 0px solid #eee;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: width .3s;
    transition: width .3s;
    transition-timing-function: ease-in-out;
}

.graphPanelCollapsed {
    width: 0px;
}

.graphPanelExpandedButton {
    position: absolute;
    right: -22px;
    top: 40px;
    width: 20px;
    height: 70px;
    color: #fff !important;
    background: #ffffff;
    border: 1px solid #eee;
    a {
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
        text-rendering: optimizeLegibility;
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
        top: 20px;
        position: absolute;
        left: -1px;
        color: #FFF;
    }
    span {
        transform: rotate(-90deg);
    }
}

.graphPanelLeft {
    left: 0px;
    .graphPanelExpanded{
        border-left-width: 1px;
        border-right-width: 1px;
    }
}
.graphPanelRight {
    right: 0px;
    .graphPanelExpanded{
        border-left-width: 1px;
        border-right-width: 1px;
    }
}
