<div class='graphPanel' *ngIf='config'>
    <div #panelButton class="graphPanelExpandedButton" [ngClass]="{leftPanel: title === 'Graph B'}">
        <a (click)='toggleClick()'>
            <i class="material-icons small" style='color:rgba(0, 0, 0, 0.54);'>expand_less</i>
        </a>
    </div>
    <div #panel class="graphPanelExpanded">
        <mat-accordion multi="true" displayMode='flat'>
            <mat-expansion-panel expanded='true'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Visualization
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{methodSummary}}</p>
                <button mat-button color="primary">Configure</button>
                <button mat-button color="primary" (click)='helpClick()'>Learn More</button>
            </mat-expansion-panel>
            <mat-expansion-panel expanded='true'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Legend
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-workspace-legend-panel [legends]='data.legends' [decorators]='decoratorsWithLegends'></app-workspace-legend-panel>
            </mat-expansion-panel>
            <mat-expansion-panel expanded='true'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Supplemental
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-workspace-stat-panel [config]='config' [graphData]='data'></app-workspace-stat-panel>
            </mat-expansion-panel>
            <mat-expansion-panel expanded='true'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Configure
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>