<div class="card" style="width:225px;">
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" #tabs>
            <li class="tab">
                <a class="active">Workspace</a>
            </li>
        </ul>
    </div>
    <div class="card-content">
        <div class="card-content" style="padding-bottom:5px;">
            <form [formGroup]="form" novalidate>
                <div class="form-group">
                    <label class="center-block"><span class="form-label">Layout</span>
                        <select class="browser-default" materialize="material_select" [materializeSelectOptions]="layoutOptions" formControlName="layout">
                            <option *ngFor="let option of layoutOptions" [value]="option">{{option}}</option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block"><span class="form-label">Control</span>
                        <select class="browser-default" materialize="material_select" [materializeSelectOptions]="controlOptions" formControlName="controlOption">
                            <option *ngFor="let option of controlOptions" [value]="option">{{option}}</option>
                        </select>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>