<div class="citations-modal-panel">
    <div class='row'>
        <a href='#' class='modalClose' (click)='closeClick()'></a>
        <div class='col s12 m9'>
            <h1 class='citations-h1'>Site Citations</h1>
            <div class="input-field citations-search col s12">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" #filterInput class="validate">
            </div>
            <div *ngFor='let result of results'>
                <span *ngIf='result.visible'>
                    <div *ngFor='let method of result.methods'>
                        <h2 class='citations-h2'>{{method.method}}</h2>
                        <p class='citations-main-link'>{{method.url}}</p>
                    </div>
                    <div *ngFor='let citation of result.citations'>
                        <p class='citations-name'>{{citation.name}}</p>
                        <p class='citations-desc'> {{citation.desc}}</p>
                        <p class='citations-link'>
                            <a href='{{citation.url}}' target='_blank'>{{citation.url}}</a>
                        </p>
                        <p class='citations-link-2'>
                            <a href='{{citation.url}}' target='_blank'>{{citation.url2}}</a>
                        </p>
                        <p class='citations-link-2'>
                            <a href='{{citation.url}}' target='_blank'>{{citation.url3}}</a>
                        </p>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>