// Responsive Mobile First
@import '~@angular/material/theming';
@import 'src/theme.scss';
.citations-container {
  display: flex;
  flex-direction: column;
}

.citations-container > * {
  width: 100%;
}

.citations-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.citations-full-width {
  width: 100%;
}

.citations-h2 {
  font-weight: 300;
  padding-top: 25px;
  margin-bottom: 0px;
}

.citations-method {
  display: none;
}

.citations-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
  padding-top: 10px;
}

.citations-desc {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}

.citations-main-link {
  cursor: pointer;
  color: #1e88e5;
  margin-top: 0px;
  word-wrap: break-word;
  text-decoration: none;
  font-size: 1.5rem;
}

.citations-link {
  cursor: pointer;
  color: #1e88e5;
  margin-top: 5px;
  margin-bottom: 0px;
  word-wrap: break-word;
  text-decoration: none;
}

.citations-link-2 {
  cursor: pointer;
  color: #1e88e5;
  margin-top: 0px;
  word-wrap: break-word;
}
