// Responsive Mobile First
@import '~@angular/material/theming';
@import 'src/theme.scss';
.citations-container {
  display: flex;
  flex-direction: column;
}

.citations-container>* {
  width: 100%;
}

.citations-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.citations-full-width {
  width: 100%;
}

.citations-h2 {
  font-weight: 300;
  padding-top: 25px;
  margin-bottom: 0px;
}

.citations-method {
  display: none;
}

.citations-name {
  margin-top: 0px;
  margin-bottom: 0px;
}

.citations-desc {
  margin-top: 0px;
  margin-bottom: 0px;
}

.citations-main-link {
  cursor: pointer;
  color: #039be5;
  margin-top: 0px;
  word-wrap: break-word;
}

.citations-link {
  cursor: pointer;
  color: #039be5;
  margin-top: 5px;
  margin-bottom: 0px;
  word-wrap: break-word;
}

.citations-link-2 {
  cursor: pointer;
  color: #039be5;
  margin-top: 0px;
  word-wrap: break-word;
}

// @media (min-width: 1200px) {
//   /* Selectors and styles affecting screens WIDER THAN 1200px (Desktop) */
//   .citations-modal-panel {
//     padding: 60px;
//     background: #FFF;
//     width: 100%;
//     height: 100vh;
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     overflow: scroll;
//   }
//   .modalClose {
//     height: 115px;
//     width: 50px;
//     position: fixed;
//     right: 15px;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     line-height: 50px;
//     display: inline-block;
//   }
//   .citations-search {
//     margin-top: 40px;
//     margin-bottom: 40px;
//   }
//   .citations-h1 {
//     font-size: 3rem;
//     margin-bottom: 0px;
//     padding-bottom: 0px;
//   }
//   .citations-h2 {
//     font-weight: 300;
//     padding-top: 25px;
//     font-size: 2.5rem;
//     margin-bottom: 0px;
//   }
// }
