<form [formGroup]='form' novalidate>
    <mat-form-field class='form-field-1-2'>
        <mat-select placeholder='Align By' formControlName='align'>
            <mat-optgroup *ngFor='let group of eventGroups' [label]='group.label'>
                <mat-option *ngFor='let evt of group.events' [value]='evt.label'>
                    {{ evt.label }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <mat-form-field class='form-field-1-2'>
        <mat-select placeholder='Sort By' formControlName='sort'>
            <mat-optgroup *ngFor='let group of sortOptions' [label]='group.label'>
                <mat-option *ngFor='let item of group.items' [value]='item'>
                    {{ item.label }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <mat-form-field class='form-field-1-2'>
        <mat-select placeholder='Group By' formControlName='group'>
            <mat-optgroup *ngFor='let group of groupOptions' [label]='group.label'>
                <mat-option *ngFor='let item of group.items' [value]='item'>
                    {{ item.label }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <mat-form-field class='form-field-1-2'>
        <mat-select multiple placeholder='Heat Map' formControlName='attrs'>
            <mat-option *ngFor='let item of patientAttributes' [value]='item.label'>
                {{ item.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div formArrayName='bars'>
        <div *ngFor='let bar of ctrls; let i=index'>
            <div [formGroupName]='i'>
                <span class='form-label' style='
              text-align:left;width:100%;font-weight:700;padding:10px 0px 0px 0px;font-size:.9rem;font-weight: 300;'>
                    {{ctrls[i].get('label').value}} Events</span>
                <div class='form-group'>
                    <mat-form-field class='form-field-1-2'>
                        <mat-select placeholder='Visualize' formControlName='style'>
                            <mat-option *ngFor='let item of styleOptions' [value]='item'>
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class='form-group'>
                    <mat-form-field class='form-field-1-2'>
                        <mat-select multiple placeholder='Visible' formControlName='events' multipile>
                            <mat-option *ngFor='let item of eventTypes[ctrls[i].get("label").value]' [value]='item.subtype'>
                                {{ item.subtype }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</form>
<!--
      <div>
        <span class='form-label' style='text-align:left;width:100%;font-weight:700;padding:10px 0px 0px 0px;font-size:.9rem;'>
        Visible Day Range
        </span>
        <div style='padding:0px 6px;'>
          <nouislider [connect]='true' [min]='0' [max]='100' [step]='1' [(ngModel)]='this.rv'
            (change)='rangeChange()'></nouislider>
        </div>
      </div>
      -->