
:host /deep/ .node-wrapper {
    width: 100%;
}
:host /deep/ .node-content-wrapper{
    height: 42px !important;
    line-height: 40px !important;
    padding:0px;
    margin:0px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border-radius: 10px;
    background: #FBFBFB !important;
    box-shadow: none !important;
    border: 1px solid #ECECEC;
    border-left-color: #039BE5;
    border-left-width: 6px;
}
:host /deep/ .tree-children {
    padding:0px;
    margin:0px;
}
.card-title-bar{
    font-size: 20px;
    font-weight: 300;
    padding:10px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.card-title-bar:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.field{
    display: inline-block;
    select{
        display: inline-block;
        width: 150px;
        height: 30px; 
        line-height: 30px;
    }
}

.condition{
    display: inline-block;
    select{
        display: inline-block;
        width: 40px;
        height: 30px; 
        line-height: 30px;
    }
}
.and-or-btn {
    width: 50px;
    height: 29px; 
    padding: 0px;
    line-height: 30px;
    text-align: center;
    margin-right:6px;
    top: -2px;
    

}
.operator {
    width: 19%;
    height:40px;
    top: -2px;
    background:#FBFBFB;
    
    text-align: center;
    display: inline-block;
    margin:0px;
    border: 0px solid #ECECEC;
    border-right-width: 1px;
    font-weight: bold;
}
.wrapper-or {
    margin-left:9%;
    width: 91%;
}
.operator-or {
    width:10%;
    padding-top:0px;
}

.buttons {
    display: inline-block;
    height: 38px;
    
}