<div class="card" style="width:465px; background:#FFFFFF;" [ngDraggable]="true" [handle]="titlebar" [inBounds]="true" [bounds]="bounds">
    <div class="card-title-bar" #titlebar >
        Cohort Builder
        <i (click)="hide.emit()" class="tiny material-icons" style="float: right; padding-top: 4px; cursor: pointer">close</i>
        <span style="float: right; padding-top: 2px; padding-right:5px; cursor: pointer; font-size:10px;" (click)="helpClick()">Help</span>
    </div>
    <div style="padding:20px;font-size:12px;">
        <app-workspace-query-builder
            *ngIf="showBuilder"
            [data]="query"
            [config]="cfg"
            ></app-workspace-query-builder>
    </div>
    <div style="padding-bottom:10px;padding-right:25px;text-align:right;">
        <button (click)="reset()" class="btn btn-small" style='box-shadow: none;'>Reset</button>
        <button (click)="filter()" class="btn btn-small" style='box-shadow: none;'>Filter</button>
        <button (click)="select()" class="btn btn-small" style='box-shadow: none;'>Select</button>
    </div>
</div>