<div class="card" style="width:410px;height:auto; background:#FFFFFF;" [ng2-draggable]=true [ng2DraggableHandle]="titlebar">
    <div class="card-title-bar" #titlebar style="background: #029BE5; color:#FFF; font-weight:normal; font-size:12px; padding:5px 10px;text-transform:uppercase;letter-spacing:1px;">
        Cohort Builder
        <i class="tiny material-icons" style="float: right; padding-top: 4px; cursor: pointer">close</i>
    </div>
    <div style="padding:20px;font-size:12px;">
      <div >

      </div>
    </div>
    
</div>