.app-workspace-tool-bar {
  pointer-events: all;
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 0px 280px;
  top: 30px;
  background: #fff !important; //#fafafa !important;
  border: 0px solid #eeeeee !important;
  border-bottom-width: 1px !important;
  height: 40px;
  line-height: 40px;
}
