

.loader-copy-container { 
    position: fixed;
    top: 50%;
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-size: 30px;
}
.loader-copy { 
   
}
.loader {
    z-index: 999999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader-background {
    background: #FFFFFF;
    opacity: .8;
    width:100%;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}


$animation-duration: 6.8s;
$box-p1: 3px;
$box-p2: 3px;
.loader-animation {
    display: block;
    position: relative;
    // opacity: .4;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #72c4f0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader-animation:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #72c4f0;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader-animation:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #72c4f0;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    // box-shadow: $box-p1 $box-p2 #b3e6fc;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}