<div class='loader'>
    <div class='loader-background'></div>
    <div class='loader-copy-container'>

        <div class='loader-copy'>
            <div class='loader-quote'>&lsquo;{{quote.q}}&rsquo;
                <div class='loader-author'>{{quote.a}}
                    <div class="lds-ellipsis" style='height:15px;top:-20px;left:10px;'>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>