// Responsive Mobile First
// Selectors and styles affecting screens SMALLER THAN 767px (Phones) 
.geneset-modal-panel {
    padding: 20px;
    background: #FFF;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    overflow: scroll;
}

.modalClose {
    height: 115px;
    width: 50px;
    position: fixed;
    right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
}

.geneset-h1 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 3px;
    margin-top: 47px;
    padding-bottom: 18px;
}

.geneset-h2 {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
}

.geneset-link {
    line-height: 30px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
}

.geneset-public-datasets {
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 30px;
}

.geneset-my-row {
    position: relative;
    line-height: 30px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
}

.geneset-my-row-delete {
    transform: translateY(6px);
}

.geneset-my-name:hover {
    color: #029BE5;
}

.geneset-my-row-delete {
    color: #029BE5;
}

.geneset-field {
    position: relative;
    margin-top: 1px;
}

.geneset-label {
    display: inline-block;
    width: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.geneset-field-label {
    display: inline-block;
    width: 75px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.geneset-field-dropdown {
    width: 250px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.geneset-results {
    font-weight: 300;
    padding-top: 5px;
}

.geneset-results:hover {
    color: #029BE5;
}

.geneset-icon {
    color: #029BE5;
    padding-right: 10px;
    padding-left: 0px;
}

.geneset-des {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 5px;
    color: #029BE5;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #eee;
    width: 515px;
}



@media (min-width: 767px) {
    /* Selectors and styles affecting screens WIDER THAN 979px (Desktop) */
    .geneset-modal-panel {
        padding: 60px;
    }
    .modalClose {
        height: 50px;
        right: 60px;
    }
    .geneset-h1 {
        font-size: 3rem;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .geneset-h2 {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    .geneset-sets {
        border: 0px solid #EEE;
        border-right-width: 1px;
        padding-left: 10px;
        padding-right: 30px;
    }

    .geneset-link {
        font-size: 1.2rem;
    }
    .geneset-public-datasets {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0px;
    }
    .geneset-box {
        position: relative;
    }
    .geneset-textarea {
        padding: 5px;
        height: 40vh;
        overflow-y: scroll;
        display: inline-block;
        width: 80%;
        position: absolute;
        left: 80px;
        top: 5px;
        border-color: #EEE;
    }
    .geneset-save {
        border-radius: 20px;
        border: 2px solid #039be5;
        display: inline-block;
        width: 75px;
        height: 40px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
    .geneset-datasets {
        border: 0px solid #EEE;
        border-right-width: 1px;
        padding-left: 10px;
        padding-right: 30px;
    }
    .geneset-dropdown {
        border: 0px solid #EEE;
        border-right-width: 1px;
        padding-left: 10px;
        padding-right: 30px;
    }
    .geneset-label {
        display: inline-block;
        width: 55px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
    .geneset-des {
 
        color: #666666;
    }
    .geneset-field-dropdown {
        width: 250px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 10px;
    }
}