<div class='panel'>
  <div>
    <a href='#' class='modalClose' (click)='closeClick()'>
    </a>
    <h1 class='panel-header'>Gene Sets</h1>
    <h2 class='panel-header-desc'>Select from thousands of curated gene sets, or build your own</h2>
  </div>
  <!-- My Genesets -->
  <div fxLayout.xs='column'>
    <div fxFlex.sm='1 1 30%' fxFlex.md='1 1 20%' fxFlex.lg='1 1 25%' fxFlex.xl='1 1 20%'>
      <h2 class='panel-column-title'>My Gene Sets</h2>
      <div *ngFor='let option of genesets' (click)='geneSetDel(option)' class='panel-config-row-del'>
        <i class='material-icons md-18'>remove_circle_outline</i>
        <div>{{option.n}}</div>
      </div>
    </div>
    <!-- Select Genesets -->
    <div fxFlex.sm='1 1 70%' fxFlex.md='1 1 80%' fxFlex.lg='1 1 75%' fxFlex.xl='1 1 80%'>
      <h2 class='panel-column-title'>Select / Build a Gene Set</h2>

      <mat-form-field>
        <mat-select placeholder='Cateogy' [value]='genesetCategory' (selectionChange)='genesetCategoryChange($event)'>
          <mat-option *ngFor='let option of genesetCategories' [value]='option'>{{option.n}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Curated -->
      <span *ngIf='buildType === "CURATED"'>
        <mat-form-field style='margin-left:5px;'>
          <input matInput autocomplete='off' placeholder="Filter (e.g BRCA, Cancer)" (keyup)='$genesetFilter.next($event.target.value)'>
        </mat-form-field>
        <div *ngFor='let option of genesetOptionsFilter' (click)='geneSetAdd(option)' class='panel-config-row-add'>
          <i class='material-icons md-18'>add_circle_outline</i>
          <div>{{option.name}}
            <br />{{option.summary}}
          </div>
        </div>
      </span>
      <span *ngIf='buildType === "CUSTOM"'>
      </span>
    </div>
  </div>
</div>
