<!-- Card -->
<div class='panel'>
  <div>
    <a href='#' class='modalClose' (click)='closeClick()'>
    </a>
    <h1 class='panel-header'>Gene Sets</h1>
    <h2 class='panel-header-desc'>Select from thousands of curated gene sets, or build your own </h2>
    <!-- <a href='https://www.youtube.com/embed/XQu8TTBmGhA' target='_blank'>
                    <i class='small material-icons modalWatchVideoIcon'>ondemand_video</i>Watch Tutorial</a> -->
  </div>

  <!-- My Genesets -->
  <div fxLayout.xs='column'>
    <div fxFlex.sm='1 1 30%' fxFlex.md='1 1 20%' fxFlex.lg='1 1 25%' fxFlex.xl='1 1 10%'>
      <h2 class='panel-column-title'>My Genesets</h2>
      <div *ngFor='let myGeneset of genesets'>
        <div class='geneset-myRow' (click)='geneSetDel(myGeneset)'>
          <i class='material-icons md-18 geneset-myRow-delete'>remove_circle_outline</i>
          <span>{{myGeneset.n}}</span>
        </div>
      </div>
    </div>


    <div fxFlex.sm='1 1 70%' fxFlex.md='1 1 80%' fxFlex.lg='1 1 75%' fxFlex.xl='1 1 90%'>
      <h2 class='panel-column-title'>Select / Build a Gene Set</h2>
      <!-- From -->
      <div fxLayoutGap="20px" class=' geneset-from-field'>
        <label class=' geneset-from-label'>From</label>



        <mat-form-field>
          <mat-select placeholder="Select..." (selectionChange)='setBuildType($event)'>
            <mat-option value='CURATED'>Curated Gene Set </mat-option>
            <mat-option value='CUSTOM'>List of Genes</mat-option>
          </mat-select>
        </mat-form-field>


        <!-- old -->
        <!-- <select class='geneset-from-dropdown ' (change)='setBuildType($event)'>
          <option value='CURATED'>Curated Gene Set</option>
          <option value='CUSTOM'>List of Genes</option>
        </select> -->


        <mat-form-field>
          <mat-select placeholder="Select..." *ngIf='buildType === "CURATED"' (selectionChange)='genesetCategoryChange($event.target.value)'>
            <mat-option *ngFor='let option of genesetCategories'>
              {{option.n}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <!-- old -->
        <!-- <select *ngIf='buildType === "CURATED"' class='geneset-categories-dropdown' (change)='genesetCategoryChange($event.target.value)'>
          <option *ngFor='let option of genesetCategories'>{{option.n}}</option>
        </select> -->

      </div>
      <!-- Curated -->


      <span *ngIf='buildType === "CURATED"'>
        <div class=' geneset-where-field'>
          <label class='geneset-where-label '>Where</label>
          <mat-form-field>
            <input matInput placeholder='Gene Set Contains e.g. IDH1, BRCA1' (keyup)='$genesetFilter.next($event.target.value)' ng-model='genesetFilter'>
          </mat-form-field>
        </div>
        <div>
          <div *ngFor='let option of genesetOptionsFilter' (click)='geneSetAdd(option)' class='geneset-results'>
            <i class='material-icons md-18 geneset-icon hide-on-small-only'>add_circle_outline</i>
            <div class='geneset-des'>
              {{option.name}}
              <br /> {{option.summary}}
            </div>
          </div>
        </div>
      </span>

      <!-- Custom -->
      <span *ngIf='buildType === "CUSTOM"'>
        <div class='geneset-field'>
          <label class='geneset-where-label' for='genesetName'>Create</label>
          <mat-form-field>
            <input matInput [(ngModel)]='customName' type='text' placeholder='Enter Gene Set Name'>
          </mat-form-field>
        </div>
        <div class='geneset-field'>
          <label class='geneset-where-label'>Genes</label>
          <mat-form-field>
            <input matInput type='text' [(ngModel)]='customGenes' placeholder='Enter a comma seperated list of gene names'>
          </mat-form-field>
        </div>
        <button class='button' (click)='onCustomSave()' mat-raised-button>Save</button>
      </span>
    </div>
  </div>
</div>
