.geneset-result-row { 
    padding: 10px 0px;
    border: 0px solid #f2f2f2;
    border-top-width: 1px;
    font-size: 0.8rem;
}

.geneset-result-name {
    
}

.geneset-result-summary {

}

.geneset-result-genes {

}