// Responsive Mobile First
// Selectors and styles affecting screens SMALLER THAN 360px (smallPhones) 
@import '~@angular/material/theming';
@import 'src/theme.scss';
.geneset-h2 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 10px;
}

.geneset-link {
  line-height: 30px;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
}

.geneset-public-datasets {
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 30px;
}

.geneset-my-row {
  position: relative;
  line-height: 30px;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
}

.geneset-my-row-delete {
  transform: translateY(6px);
}

.geneset-my-name:hover {
  color: #029BE5;
}

.geneset-my-row-delete {
  color: #029BE5;
}

.geneset-from-field {
  position: relative;
  margin-top: 1px;
}

.geneset-where-field {
  position: relative;
  margin-top: 1px;
}

.geneset-from-label {
  width: 75px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0px;
}

.geneset-where-label {
  width: 75px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0px;
}

.geneset-gene-label {
  width: 75px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0px;
}

.geneset-field-dropdown {
  width: 250px;
  display: inline-block;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.geneset-results {
  font-weight: 300;
  padding-top: 5px;
}

.geneset-results:hover {
  color: #029BE5;
}

.geneset-icon {
  color: #029BE5;
  padding-right: 10px;
  padding-left: 0px;
}

.geneset-des {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 5px;
  color: #029BE5;
}

input:not([type]),
input[type=text],
input[type=search],
textarea.materialize-textarea {
  border-bottom: 1px solid #eee;
  width: 250px;
}

.geneset-save {
  border-radius: 20px;
  border: 2px solid #039be5; // display: inline-block;
  width: 75px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  float: right;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 7rem;
  background-color: transparent;
  border-color: #eee;
}

.geneset-from-dropdown {
  width: 250px;
  display: inline-block;
  margin-right: 10px;
  padding-left: 0px;
}

.geneset-categories-dropdown {
  width: 250px;
  display: inline-block;
  margin-right: 10px;
  padding-left: 0px;
}

@media (min-width: 370px) {
  /* Selectors and styles affecting screens WIDER THAN 370px (phone) */
  .geneset-from-label {
    margin-right: 10px;
  }
  .geneset-where-label {
    // display: inline-block;
    margin-right: 10px;
  }
  textarea {
    width: 100%;
    height: 10rem;
    background-color: transparent;
    border-color: #eee;
  }
}

@media (min-width: 410px) {
  /* Selectors and styles affecting screens WIDER THAN 410px (phone) */
  .geneset-from-label {
    margin-right: 50px;
  }
  .geneset-where-label {
    margin-right: 50px;
  }
  .geneset-icon {
    margin-left: 0px;
  }
}

@media (min-width: 601px) {
  /* Selectors and styles affecting screens WIDER THAN 601px (takes icon out and turns des blue) */
  .geneset-des {
    color: #666666;
  }
}

@media (min-width: 767px) {
  /* Selectors and styles affecting screens WIDER THAN 767px (tablets) */
  .geneset-modal-panel {
    padding: 40px;
  }
  .geneset-des {
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  /* Selectors and styles affecting screens WIDER THAN 1200px (Desktop) */
  .geneset-h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .geneset-sets {
    border: 0px solid #EEE;
    border-right-width: 1px;
    padding-left: 10px;
    padding-right: 30px;
  }
  .geneset-link {
    font-size: 1.2rem;
  }
  .geneset-public-datasets {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
  }
  .geneset-box {
    position: relative;
  }
  .geneset-textarea {
    padding: 5px;
    height: 40vh;
    overflow-y: scroll;
    display: inline-block;
    width: 80%;
    position: absolute;
    left: 75px;
    top: 5px;
    border-color: #EEE;
  }
  .geneset-datasets {
    border: 0px solid #EEE;
    border-right-width: 1px;
    padding-left: 10px;
    padding-right: 30px;
  }
  .geneset-my-list {
    border: 0px solid #EEE;
    border-right-width: 1px;
    padding-left: 10px;
    padding-right: 30px;
  }
  .geneset-from-label {
    width: 55px;
    height: 40px;
    margin-right: 25px;
  }
  .geneset-where-label {
    width: 55px;
    height: 40px;
    margin-right: 17px;
  }
  .geneset-des {
    margin-left: 25px;
  }
  .geneset-from-dropdown {
    margin-left: 0px;
  }
  .geneset-categories-dropdown {
    margin-left: 0px;
  }
  input:not([type]),
  input[type=text],
  input[type=search],
  textarea.materialize-textarea {
    width: 515px;
  }
  .geneset-button {
    padding-left: 5px;
    margin-top: 17px;
  }
  .geneset-save {
    float: none;
    margin-top: 0;
    padding: 10px;
  }
  .geneset-icon {
    margin-left: 10px;
  }
}
