.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.l-side-title {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  width: 500px;
  background: red;
  
}

.card-title-bar {
  background: #029BE5; 
  color:#FFF; 
  font-weight:normal; 
  font-size:12px; 
  padding:5px 10px;
  text-transform:uppercase;
  letter-spacing:1px;
}