<app-workspace-chart (onSelect)='select($event)' (configChange)='graphPanelSetConfig($event)'></app-workspace-chart>

<div #panelContainer style='pointer-events: none;position:relative;padding-top:30px;height:100vh;width:100%'>

    <app-workspace-graph-panel style='pointer-events:all;position:absolute;left:0px;' *ngIf='graphPanelATab | async'
        [title]='"Graph A"' [events]='events | async' [tables]='tables | async' [fields]='fields | async' [clinicalFields]='clinicalFields | async'
        [genesets]='genesets | async' [cohorts]='cohorts | async'
        [decorators]='decorators | async'
        [molecularData]='molecularData | async' [config]='graphAConfig | async' [data]='graphAData | async' (hide)='graphPanelToggle(1)'
        (help)='helpPanelToggle($event)' (configChange)='graphPanelSetConfig($event)' (selectClusteringAlgorithm)='graphPanelSelectClusteringAlgorithm($event)'
        (selectGeneSignature)='graphPanelSelectGeneSignature($event)' (selectGeneset)='genesetPanelToggle($event)' (selectCohort)='queryPanelToggle($event)'></app-workspace-graph-panel>

    <app-workspace-graph-panel style='pointer-events:all;position:absolute;right:0px;' *ngIf='graphPanelBTab | async'
        [title]='"Graph B"' [events]='events | async' [tables]='tables | async' [fields]='fields | async' [clinicalFields]='clinicalFields | async'
        [genesets]='genesets | async' [cohorts]='cohorts | async'
        [decorators]='decorators | async'
        [molecularData]='molecularData | async' [config]='graphBConfig | async' [data]='graphBData | async' (hide)='graphPanelToggle(2)'
        (help)='helpPanelToggle($event)' (configChange)='graphPanelSetConfig($event)' (selectClusteringAlgorithm)='graphPanelSelectClusteringAlgorithm($event)'
        (selectGeneSignature)='graphPanelSelectGeneSignature($event)' (selectGeneset)='genesetPanelToggle($event)' (selectCohort)='queryPanelToggle($event)'></app-workspace-graph-panel>

    <!--     
    <app-workspace-edge-panel
        style='pointer-events:all;position:relative;'
        *ngIf='edgePanelTab | async'
        [bounds]='panelContainer'
        [tables]='tables | async'
        [fields]='fields | async'
        [config]='edgeConfig | async'
        [graphAConfig]='graphAConfig | async'
        [graphBConfig]='graphBConfig | async'
        (hide)='edgePanelToggle()'
        (configChange)='graphPanelSetConfig($event)'
        [workspaceConfig]='workspaceConfig | async'
        (workspaceConfigChange)='workspacePanelSetConfig($event)'
        ></app-workspace-edge-panel> -->

   
    <!-- <app-workspace-clustering-algorithm-panel
        style='pointer-events:all;position:relative;'
        *ngIf='clusteringAlgorithmPanelTab | async'
        [bounds]='panelContainer'
        [configA]='graphAConfig | async'
        [configB]='graphBConfig | async'
        [graphAData]='graphAData | async' 
        [graphBData]='graphBData | async' 
        ></app-workspace-clustering-algorithm-panel> -->
</div>

<!-- Application Menu Bar -->
<app-application-bar
    (splitScreenChange)='splitScreenChange($event)'
    (showModalPanel)='setModalPanel($event)'></app-application-bar>


<!-- Panels -->
<app-workspace-landing-panel *ngIf='(modalPanel | async) === 2'
    class='modal-panel' style='z-index:999999' (onGetStarted)='setModalPanel(4)'></app-workspace-landing-panel>
<app-workspace-file-panel *ngIf='(modalPanel | async) === 4' (hide)='setModalPanel(1)'
    class='modal-panel' (uploadExcel)='uploadExcel($event)' (loadTcga)='fileLoadTcga($event)'></app-workspace-file-panel>
<app-workspace-cohort-panel *ngIf='(modalPanel | async) === 16' (hide)='setModalPanel(1)'
    (addCohort)='addCohort($event)' (delCohort)='delCohort($event)'
    [cohorts]='cohorts | async'
    [config]='graphAConfig | async' class='modal-panel'></app-workspace-cohort-panel>
<app-workspace-geneset-panel *ngIf='(modalPanel | async) === 32' (hide)='setModalPanel(1)'
    (addGeneset)='addGeneset($event)' (delGeneset)='delGeneset($event)'
    [genesets]='genesets | async' [config]='graphAConfig | async' class='modal-panel'></app-workspace-geneset-panel>
<app-workspace-help-panel *ngIf='(modalPanel | async) === 128' (hide)='setModalPanel(1)'
    class='modal-panel' [config]='helpPanelConfig | async'></app-workspace-help-panel>
<app-workspace-settings-panel *ngIf='(modalPanel | async) === 256' (hide)='setModalPanel(1)'
    class='modal-panel'></app-workspace-settings-panel>
<app-workspace-about-panel *ngIf='(modalPanel | async) === 512' (hide)='setModalPanel(1)'
    class='modal-panel'></app-workspace-about-panel>
<app-workspace-citations-panel *ngIf='(modalPanel | async) === 1024' (hide)='setModalPanel(1)'
    class='modal-panel'></app-workspace-citations-panel>

<!--
<app-workspace-data-panel  style='position:absolute;top:30px;bottom:0px;width:100%;background:#ffffff;'
    [tables]='tables | async'
    [configA]='graphAConfig | async'
    [configB]='graphBConfig | async'
    (hide)='dataPanelToggle()'
    *ngIf='dataPanelTab | async'></app-workspace-data-panel> -->

<!-- Loader -->
<app-workspace-loader *ngIf='(loader | async)'></app-workspace-loader>