
@import 'src/theme.scss';
.application-bar-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  z-index: 50;
  background: mat-color($primary);
  box-shadow: 0px 2px 4px #bbb;
}

.application-bar-logo {
  letter-spacing: 8px;
  line-height: 30px;
  color: #FFF !important;
  font-weight: 100 !important;
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 30px;
}

.application-bar-buttons {
  position: absolute;
  right: 3px;
  top: 0px;
  line-height: 30px;
}

.application-bar-button {
  cursor: pointer;
  line-height: 30px;
  font-size: 12px;
  color: #FFF;
  // padding: 0px 10px;
}
