<div>
  <form [formGroup]="form" novalidate>
    <mat-form-field class='form-field'>
      <mat-select placeholder='Navigation' formControlName='navigation'>
        <mat-option>Orbit</mat-option>
        <mat-option>Trackball</mat-option>
        <mat-option>Pointer Lock</mat-option>
        <mat-option>Transform</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class='form-field'>
      <mat-select [value]='selectionType' placeholder='Edge Color' (selectionChange)='selectionTypeChange($event)'>
        <mat-option *ngFor='let option of selectionTypes' [value]='option.value'>
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class='form-field'>
      <mat-select placeholder='Selection' formControlName='selection'>

      </mat-select>
    </mat-form-field>
  </form>
</div>
