// Responsive Mobile First
/* Selectors and styles affecting screens SMALLER THAN 410px (smallPhones) */

// Responsive Mobile First
@import '~@angular/material/theming';
@import 'src/theme.scss';
.example-full-width {
  width: 60%;
}

.cohort-container {
  display: flex; // flex-direction: column;
}

.cohort-container>* {
  width: 100%;
}

.cohort-h2 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 10px;
}

.cohort-button {
  padding-left: 5px;
  margin-top: 17px;
}

.cohort-save {
  border-radius: 20px;
  border: 2px solid #1e88e5;
  width: 75px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-top: 10px;
}

.cohort-myRow {
  position: relative;
  line-height: 25px;
  cursor: pointer;
  span {
    font-size: 12px;
    margin-left: 10px;
  }
}

.cohort-myRow-delete {
  color: #029BE5;
  transform: translateY(6px);
}

.cohort-field {
  position: relative;
  margin-top: 1px;
  margin-bottom: 20px;
  label {
    display: inline-block;
    /* width: 75px; */
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 20px;
  }
}

.cohort-field-buttons {
  display: none;
  color: #1e88e5;
  a {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.cohort-field:hover {
  color: #1e88e5;
  .cohort-field-buttons {
    display: inline-block;
  }
}

.cohort-field {
  .cohort-field-dropdown {
    width: 230px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.cohort-field-or {
  margin-left: 25px;
  margin-top: 1px;
  label {
    width: 50px;
  }
}

@media (min-width: 410px) {
  /* Selectors and styles affecting screens WIDER THAN 410px (phones) */
  .cohort-field-dropdown {
    width: 260px;
  }
}

@media (min-width: 1200px) {
  /* Selectors and styles affecting screens WIDER THAN 1200px (Desktop) */
  .cohort-h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .cohort-my-list {
    border: 0px solid #EEE;
    border-right-width: 1px;
    padding-left: 10px;
    padding-right: 30px;
  }
  .cohort-button {
    padding-left: 5px;
    margin-top: 17px;
  }
  .cohort-save {
    border-radius: 20px;
    border: 2px solid #1e88e5;
    width: 55px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-left: 10px;
  }
  .cohort-myRow {
    position: relative;
    line-height: 30px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
  }
  .cohort-myRow-delete {
    color: #029BE5;
    transform: translateY(6px);
  }
  .cohort-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .cohort-field {
    position: relative;
    margin-top: 1px;
    label {
      display: inline-block; // width: 75px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .cohort-field-buttons {
    display: none;
    color: #039be5;
    a {
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .cohort-field:hover {
    color: #1e88e5;
    .cohort-field-buttons {
      display: inline-block;
    }
  }
  .cohort-field-dropdown {
    width: 125px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
  }
  .cohort-field-or {
    margin-left: 25px;
    margin-top: 1px;
    label {
      width: 50px;
    }
  }
}
