<div class="card" style="width:225px;">
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" #tabs>
            <li class="tab">
                <a class="active" href="#cohort-panel-genes" style="padding:0px;">Genes</a>
            </li>
            <li class="tab">
                <a href="#cohort-panel-patients" style="padding:0px;">Patients</a>
            </li>
            <li class="tab">
                <a href="#cohort-panel-samples" style="padding:0px;">Samples</a>
            </li>
        </ul>
    </div>
    <div class="card-content">
        <div id="cohort-panel-genes">
            <form [formGroup]="form" novalidate>
                <div class="form-group">
                    <label class="center-block">
                        <span class="form-label">Source</span>
                        <select class="browser-default" materialize="material_select" 
                            formControlName="genesetSource">
                            <option *ngFor="let option of genesetSources">{{option}}</option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">
                        <span class="form-label">Category</span>
                        <select class="browser-default" materialize="material_select" 
                            formControlName="genesetCategory">
                            <option *ngFor="let option of genesetCategories">{{option.name}}</option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">
                        <span class="form-label">Geneset</span>
                        <select class="browser-default" materialize="material_select" 
                            formControlName="geneset">
                            <option *ngFor="let option of genesets">{{option.name}}</option>
                        </select>
                    </label>
                </div>
            </form>
        </div>
        <div id="cohort-panel-patients">
            Patients ...
        </div>
        <div id="cohort-panel-samples">
            Samples ...
        </div>

    </div>
</div>