// Responsive Mobile First

/* Selectors and styles affecting screens SMALLER THAN 767px (Phones) */

.cohort-modal-panel {
    padding: 20px;
    background: #FFF;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    overflow: scroll;
}

.modalClose {
    height: 115px;
    width: 50px;
    position: fixed;
    right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
}

.cohort-h1 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 3px;
    margin-top: 47px;
    padding-bottom: 18px;
}

.cohort-h2 {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    /* Selectors and styles affecting screens WIDER THAN 1200px (Desktop) */
    .cohort-modal-panel {
        padding: 60px;
    }
    .modalClose {
        height: 50px;
        right: 60px;
    }
    .cohort-h1 {
        font-size: 3rem;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .cohort-h2 {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    .cohort-my-list {
        border: 0px solid #EEE;
        border-right-width: 1px;
        padding-left: 10px;
        padding-right: 30px;
    }
}

.cohortMyRow {
    position: relative;
    line-height: 30px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    .cohortMyRowDelete {
        transform: translateY(6px);
    }
}

.cohortMyRowDelete {
    color: #029BE5;
}

.cohortField {
    // background: #f3f3f3;
    position: relative;
    margin-top: 1px;
    label {
        display: inline-block;
        width: 75px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
    input {
        background: #FFF;
    }
}

.cohortFieldLabel {
    display: inline-block;
    width: 75px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.cohortFieldOr {
    margin-left: 25px;
    margin-top: 1px;
    label {
        width: 50px;
    }
}

.cohortFieldButtons {
    display: none;
    color: #039be5;
    a {
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.cohortField:hover {
    color: #029BE5;
    .cohortFieldButtons {
        display: inline-block;
    }
}

.cohortFieldDropdown {
    width: 125px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
}

.cohortBtn {
    border: solid 0px #EEEEEE;
    border-bottom-width: 1px;
}

.cohortMyRow {
    position: relative;
    line-height: 30px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    .cohortMyRowDelete {
        //     opacity: 1;
        transform: translateY(6px); //     transition: opacity .6s;
    } // span {
    //     position: absolute;
    //     top: 3px;
    //     left: 0px;
    // }
}

// .cohortMyRow:hover { 
//     .cohortMyRowDelete {
//         opacity: 1;
//     }
// }
.cohortMyRowDelete {
    color: #029BE5;
}

.cohortField {
    // background: #f3f3f3;
    position: relative;
    margin-top: 1px;
    label {
        display: inline-block;
        width: 75px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
    input {
        background: #FFF;
    }
}

.cohortFieldLabel {
    display: inline-block;
    width: 75px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.cohortFieldOr {
    margin-left: 25px;
    margin-top: 1px;
    label {
        width: 50px;
    }
}

.cohortField:hover {
    color: #029BE5;
    .cohortFieldButtons {
        display: inline-block;
    }
}

.cohortFieldDropdown {
    width: 125px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
}

.cohortBtn {
    font-weight: 400;
    text-transform: uppercase;
    color: #029BE5;
    background: #FFFFFF;
    box-shadow: none;
}

.genesetResult {
    font-weight: 300;
    i {
        color: #029BE5;
        padding-right: 10px;
        padding-left: 40px;
    }
    div {
        display: inline-block;
        margin-bottom: 10px;
        padding-left: 5px;
    }
}

.genesetResult {
    font-weight: 300;
    i {
        color: #029BE5;
        padding-right: 10px;
    }
    div {
        display: inline-block;
        margin-bottom: 10px;
        padding-left: 25px;
    }
}