<form novalidate>
    <mat-form-field class='form-field'>
        <mat-select placeholder='Layout' (selectionChange)='layoutOptionChange($event)'>
            <mat-option *ngFor='let option of layoutOptions' [value]='option'>
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class='form-field'>
        <mat-select placeholder='Connect' (selectionChange)='edgeOptionChange($event)'>
            <mat-option *ngFor='let option of edgeOptions' [value]='option.label'>
                {{ option.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class='form-field'>
        <mat-select placeholder='Color' (selectionChange)='edgeOptionChange($event)'>
            <mat-option *ngFor='let option of colorOptions' [value]='option.label'>
                {{ option.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class='form-field'>
        <mat-select placeholder='Group By' (selectionChange)='groupOptionChange($event)'>
            <mat-option *ngFor='let option of groupOptions' [value]='option.label'>
                {{ option.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>