
.graphPanelHeader {
    background: #fafafa;
    border: 1px solid #eee;
    border-left-width: 0px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 3px;
    line-height: 30px;
    width: 267px;
    left: 0px;
    top: 0px;
}
.edge-panel-card {

    width:285px; 
    background:#FFFFFF;
}
 
.edge-panel-card {
    padding:20px
}
