<div class="card" style="top:40px; left:10px; width:225px;height:auto; background:#FFFFFF;" [ng2-draggable]=true [ng2DraggableHandle]="titlebar">
    <div class="card-title-bar" #titlebar style="text-align:center;background: #029BE5; color:#FFF; font-weight:normal; font-size:12px; padding:5px 10px;">
        Layout + Edges
    </div>
    <div class="card-content">
        <div class="card-content" style="padding:0px;">
            <form [formGroup]="form" novalidate>
                <div class="form-group">
                    <label class="center-block">
                        <span class="form-label">Layout</span>
                        <select class="browser-default" materialize="material_select" [materializeSelectOptions]="layoutOptions" formControlName="layout">
                            <option *ngFor="let option of layoutOptions" [value]="option">{{option}}</option>
                        </select>
                    </label>
                </div>
            </form>
            <app-edges-form (configChange)="edgePanelSetConfig($event)" [graphAConfig]="graphAConfig" [graphBConfig]="graphBConfig" [tables]="tables"
                [fields]="fields" [config]="config"></app-edges-form>
        </div>
    </div>
</div>