<div class='selectionPanel'>

    <div class='selectionPanelModal'>
        <a href='#' class='modalCloseSmall' (click)='closeClick()'>
        </a>
        <div style='width:229px;padding-right:20px;display: inline-block;vertical-align: top;'>
            <div [innerHTML]='_stats'></div>
        </div>
        <div style='width:229px;padding-left:20px;display: inline-block;vertical-align: top;border: solid 0px #EEE; border-left-width: 1px;'>
            To save this selection as a cohort, specify a name and click create.
            <form [formGroup]="form">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName='selectionName' autocomplete='email'>
                    <mat-error *ngIf="form.controls['selectionName'].hasError( 'required') ">Required</mat-error>
                </mat-form-field>
                <button mat-raised-button type="submit" color='primary'>Create</button>
            </form>
        </div>
    </div>
</div>