.selectionPanel{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    bottom: 0px;
    overflow: hidden;
    padding-top: 50px;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    text-align: center;
    z-index: 1;
}
.selectionPanelModal {
    width: 500px;
    border: 1px solid #eeeeee;
    background-color: rgba(255,255,255, 0.9);
    padding:20px;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}