<div class="card" style="width:500px; background:#FFFFFF;" [ng2-draggable]=true [ng2DraggableHandle]="titlebar">
    <div class="card-title-bar" #titlebar style="background: #029BE5; color:#FFF; font-weight:normal; font-size:12px; padding:5px 10px;text-transform:uppercase;letter-spacing:1px;">
        {{method}}
        <i class="tiny material-icons" style="float: right; padding-top: 4px; cursor: pointer" (click)="hide.emit()">close</i>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" #tabs>
            <li class="tab">
                <a class="active" href="#HelpOverview">Overview</a>
            </li>
            <li class="tab">
                <a href="#HelpParameters">Settings</a>
            </li>
            <li class="tab">
                <a href="#HelpAttributes">Summary</a>
            </li>
        </ul>
    </div>
    <div class="card-content" style="max-height: 300px; overflow-y:scroll;">
        <div id="HelpOverview">
            <label>{{method}}</label>
            <p [innerHTML]="desc"></p>
        </div>
        <div id="HelpParameters">
            <div *ngFor="let attr of params; let i = index">
                <label>{{ attr.name }}</label>
                <p>{{ attr.desc }}</p>
            </div>

        </div>
        <div id="HelpAttributes">
            <div *ngFor="let attr of attrs; let i = index">
                <label>{{ attr.name }}</label>
                <p>{{ attr.desc }}</p>
            </div>
        </div>
    </div>
</div>