.tabs .tab a{
    padding: 0px;
    font-size: 1rem;
}
.help-title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.btn-config {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 2rem;
}
.help-method { 
    display: none;
}

.help-section {
    font-weight: 300;
    padding-top: 25px;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.help-label {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 5px;
    text-transform: uppercase;
}
.help-desc {
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 0px;
}
.help-link { 
    font-size: 1.2rem;
    font-weight: 300;
}
.help-link-desc {
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0px;
}

