@import 'src/theme.scss';
.file-span {
  font-size: 0.8rem;
}

p.help-intro {
  margin-top: 25px;
  margin-bottom: 25px; // line-height: 20px;
}

p.help-link {
  margin-top: 25px;
  margin-bottom: 25px;
}

h3.panel-column-title {
  padding-top: 10px;
}

.help-name {
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 10px;
}
