.uploadPanelCbx {
    display: block;
    margin-bottom: 10px;
}
.user-panel-link{
    padding-top: 5px;
}
.user-panel-links{
    display: inline-block;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 30%;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.75em;
}
