.about-h1 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 3px;
    margin-top: 47px;
    padding-bottom: 18px;
}

.about-h2 {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
}