<div class='panel' style='position:absolute;top:0px;z-index:1;padding-bottom:0px;'>
  <div>
    <a href='#' class='modalClose' (click)='closeClick()'>
    </a>
    <h1 class='panel-header' style='margin-top: 40px;'>About</h1>
  </div>
  <p style='margin-top: 25px;margin-bottom: 25px;line-height: 20px;' class="about-h2">Seattle Tumor Translation Research (STTR) assists cancer researchers and clinicians to extract biological meaning through
    the development of custom software solutions. The rapid growth of both public datasets and analytic methods presents
    challenges and opportunities. To maximize impact researchers often need to enlist the support of biostatisticians, data
    scientists and software engineers that specialize in cloud technologies. To help mitigate these challenges, STTR has
    built a cloud-based platform called Oncoscape.  Our solution allows users to upload clinical and molecular data; leverage
    industry standard analytic libraries; augment with NCI sponsored data sets; and visualize with dozens of novel online
    interactive tools. Our mission is to accelerate your science.</p>
  <h1 style='margin-bottom:40px;'>Meet the Team</h1>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between start" style='margin-bottom: 50px;'
    class="containercards">
    <div class="team-container" fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image style="width:100px; height: 100px; border-radius: 50%;" src="assets/about/holland.jpg">
        <div fxLayout="column">
          <div style='font-size:1rem;margin-bottom: 5px;text-transform: uppercase; letter-spacing: 1px; margin-top:15px;' class='about-name'>Eric Holland</div>
          <div style='font-size: 0.6rem;margin-bottom:5px;text-transform: uppercase; letter-spacing: 1px; ' class='about-title'>Neurosurgeon</div>
          <div fxLayout="row" fxLayoutGap='10px'>
            <a href="http://www.sttrcancer.org/en.html" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-info-circle fa-2x "></i>
            </a>
            <a href="https://www.fredhutch.org/en/labs/profiles/holland-eric.html" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-flask fa-2x"></i>
            </a>
            <a href="mailto:eholland@fredhutch.org " target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-envelope-o fa-2x "></i>
            </a>
          </div>
        </div>
      </div>
      <p style="padding-top: 10px; line-height: 20px;"> Dr. Holland is an internationally renowned neurosurgeon and brain cancer researcher. As senior vice president and director
        of the Human Biology Division of the Fred Hutchinson Cancer Research Center, Dr. Holland encourages collaboration
        among faculty with a broad range of expertise – from molecular and cellular biology to genetics and clinical research.
        Working with the STTR team he established Oncoscape, the connection between molecular/clinical data and technology.
        Today Oncoscape is accelerating research.
      </p>
    </div>
    <div class="team-container" fxFlexOffset='40px' fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image style="width:100px; height: 100px; border-radius: 50%;" src="assets/about/zager.jpg">
        <div fxLayout="column">
          <div style='font-size:1rem;margin-bottom: 5px;text-transform: uppercase; letter-spacing: 1px; margin-top:15px;' class='about-name'>Michael Zager</div>
          <div style='font-size: 0.6rem;margin-bottom:5px;text-transform: uppercase; letter-spacing: 1px; ' class='about-title'>Architect Engineer</div>
          <div fxLayout="row" fxLayoutGap='10px'>
            <a href="https://github.com/mzager" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-github-square fa-2x "></i>
            </a>
            <a href="https://www.linkedin.com/in/zager/" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-linkedin-square fa-2x "></i>
            </a>
            <a href="mailto:mzager@fredhutch.org " target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-envelope-o fa-2x "></i>
            </a>
          </div>
        </div>
      </div>
      <p style="padding-top: 10px; line-height: 20px;"> Mr. Zager has been crafting digital strategies and executions for the past 15 years. He has served in leadership roles
        at several notable experiential and digital agencies and partnered with bio-tech, start-up and Fortune 500 companies
        such as Proctor &amp; Gamble, Toyota and Coca-Cola. Prior to joining the Fred Hutch, Michael was responsible for
        evolving and supporting all digital marketing platforms in T-Mobile’s retail stores. Michael’s passionate for transforming
        people’s lives with cutting edge technology lead him to the Fred Hutchinson. Today, he contributes enterprise architecture,
        software development best practices and big data expertise to Oncoscape.
      </p>
    </div>
    <div class="team-container" fxFlexOffset='40px' fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image style="width:100px; height: 100px; border-radius: 50%;" src="assets/about/gretty.png">
        <div fxLayout="column">
          <div style='font-size:1rem;margin-bottom: 5px;text-transform: uppercase; letter-spacing: 1px; margin-top:15px;' class='about-name'>Gretchen Krenn</div>
          <div style='font-size: 0.6rem;margin-bottom:5px;text-transform: uppercase; letter-spacing: 1px; ' class='about-title'>Software Engineer</div>
          <div fxLayout="row" fxLayoutGap='10px'>
            <a href="https://github.com/grettygoose" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-github-square fa-2x "></i>
            </a>
            <a href="https://www.linkedin.com/in/gretchenh/" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-linkedin-square fa-2x "></i>
            </a>
            <a href="mailto:gheinric@fredhutch.org " target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-envelope-o fa-2x "></i>
            </a>
          </div>
        </div>
      </div>
      <p style="padding-top: 10px; line-height: 20px;">Ms. Krenn started her research career on the bench and eventually moved to a program management role assisting in the
        establishment of a central tissue repository for several national clinical trials. Motivated by the massive amounts
        of data being generated she started to further develop her programming skills to focus on front-end development and
        data visualization. Her experiences in the many facets of research provide insight into the limitations we face as
        researchers and helps to establish software application solutions at Fred Hutch, such as Oncoscape.
      </p>
    </div>
  </div>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between start" style='margin-bottom: 50px;'
    class="containercards">
    <div class="team-container" fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image style="width:100px; height: 100px; border-radius: 50%;" src="assets/about/zhang.jpg">
        <div fxLayout="column">
          <div style='font-size:1rem;margin-bottom: 5px;text-transform: uppercase; letter-spacing: 1px; margin-top:15px;' class='about-name'>Jenny Zhang</div>
          <div style='font-size: 0.6rem;margin-bottom:5px;text-transform: uppercase; letter-spacing: 1px; ' class='about-title'>Research Scientist</div>
          <div fxLayout="row" fxLayoutGap='10px'>
            <a href="https://github.com/canaantt" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-github-square fa-2x "></i>
            </a>
            <a href="https://www.linkedin.com/in/jenny-zhang-ba62a2104/" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-linkedin-square fa-2x "></i>
            </a>
            <a href="mailto:jzhang23@fredhutch.org" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-envelope-o fa-2x "></i>
            </a>
          </div>
        </div>
      </div>
      <p style="padding-top: 10px; line-height: 20px;"> Ms. Zhang, a founding member of the Oncoscape team, has been involved in all phases of the products lifecycle. With
        a master’s degree in biomedical science and over 3 years of continued education in computer science her contributions
        are often most impactful at the intersection between biology, statistics and software engineering. Most recently
        Jenny has been involved in evaluating multiple cloud and data platforms, developing data pipelines and contributing
        to the development of an Omics workflow to bring data into Oncoscape.
      </p>
    </div>
    <div class="team-container" fxFlexOffset='40px' fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image style="width:100px; height: 100px; border-radius: 50%;" src="assets/about/mcdermott.jpg">
        <div fxLayout="column">
          <div style='font-size:1rem;margin-bottom: 5px;text-transform: uppercase; letter-spacing: 1px; margin-top:15px;' class='about-name'>Robert McDermott</div>
          <div style='font-size: 0.6rem;margin-bottom:5px;text-transform: uppercase; letter-spacing: 1px; ' class='about-title'>IT Solutions Architect</div>
          <div fxLayout="row" fxLayoutGap='10px'>
            <a href="https://github.com/robert-mcdermott" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-github-square fa-2x "></i>
            </a>
            <a href="https://www.linkedin.com/in/robert-mcdermott-a77b9011/" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-linkedin-square fa-2x "></i>
            </a>
            <a href="mailto:mzager@fredhutch.org " target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-envelope-o fa-2x "></i>
            </a>
          </div>
        </div>
      </div>
      <p style="padding-top: 10px; line-height: 20px;"> Mr. McDermott started his career at the Fred Hutch in 2000 as an IT professional in Center IT. During that time, he
        has been involved with the design, implementation and administration of many IT systems including email, server virtualization,
        storage, cloud computing and more. He’s most interested in working on projects that have a direct and positive impact
        on the important research that is happening at the Center.
      </p>
    </div>
    <div class="team-container" fxFlexOffset='40px' fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image style="width:100px; height: 100px; border-radius: 50%;" src="assets/about/galbraith.jpg">
        <div fxLayout="column">
          <div style='font-size:1rem;margin-bottom: 5px;text-transform: uppercase; letter-spacing: 1px; margin-top:15px;' class='about-name'>Rachel Galbraith</div>
          <div style='font-size: 0.6rem;margin-bottom:5px;text-transform: uppercase; letter-spacing: 1px; ' class='about-title'>STTR Director</div>
          <div fxLayout="row" fxLayoutGap='10px'>
            <a href="http://www.sttrcancer.org/en.html" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-info-circle fa-2x "></i>
            </a>
            <a href="https://www.linkedin.com/in/rachel-galbraith-3304b052/" target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-linkedin-square fa-2x "></i>
            </a>
            <a href="mailto:rgalbrai@fredhutch.org " target="_blank ">
              <i style='color: #1e88e5;' class="fa fa-envelope-o fa-2x "></i>
            </a>
          </div>
        </div>
      </div>
      <p style="padding-top: 10px; line-height: 20px;"> Ms. Galbraith is the Operations Director for Seattle Translational Tumor Research (STTR). Bringing together over 500
        faculty spanning oncology research efforts at Fred Hutch, UW Medicine, Seattle Cancer Care Alliance, Seattle Children’s
        Research Institute and several other Seattle-area translational research institutions. Her goal through this effort
        is to enhance collaborative scientific effort, eliminate barriers to cancer research and facilitate access to clinical
        specimens, data, and technology that will speed research and improve cancer prevention, treatment and detection.
        With a background in molecular genetics and cell biology, and research experience in genetic factors contributing
        to cancer risk, she can understand the challenges researchers face in analyzing large-scale data and leverage that
        insight to inform the development of tools within Oncoscape.
      </p>
    </div>
  </div>


  <h1 class='about-h1 '>Special Thanks</h1>

  <div style='line-height: 20px;'>
    <!-- <span style='font-weight: 300; font-size: 1rem;margin-top: 0px;'>Steering: </span>
    Eric Holland, Raquel Sanchez, Elizabeth Krakow, Michael Zager
    <br /> -->
    <span style='font-weight: 300; font-size: 1rem;margin-top: 0px;'>Biostats: </span>
    Hamid Bolouri, Ilsa Coleman, Emily Kohlbrenner, Navonil De Sarkar, Lisa McFerrin, Chad He
    <br />
    <span style='font-weight: 300; font-size: 1rem;margin-top: 0px;'>Interns: </span>
    Adam Samir Alayli, Vaishnavi Phadnis
    <br />
  </div>
  <h1 style='margin-top:50px;' class='about-h1'>Institutional Support</h1>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between start" style='margin-bottom: 50px;'
    class="containercards">
    <div class="team-container" fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image style="width:100px; height: 100px;" src="assets/about/fhcrc.jpg">
        <div fxLayout="column">
          <div style='font-size:1rem;margin-bottom: 5px;text-transform: uppercase; letter-spacing: 1px; margin-top:40px;' class='about-name'>Fred Hutch</div>
        </div>
      </div>
      <p style="padding-top: 10px; line-height: 20px;"> Our mission is the elimination of cancer and related diseases as causes of human suffering and death. Fred Hutch conducts
        research of the highest standards to improve prevention and treatment of cancer and related diseases.
      </p>
    </div>
    <div class="team-container" fxFlexOffset='40px' fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image src="assets/about/sarc.jpg">
        <div fxLayout="column">
          <div style='font-size:1rem;margin-bottom: 5px;text-transform: uppercase; letter-spacing: 1px; margin-top:15px;' class='about-name'>Sarcoma Alliance for Research Through Collaboration</div>
        </div>
      </div>
      <p style="padding-top: 10px; line-height: 20px;"> SARC is a non-profit organization dedicated to the development and support of research for the prevention, treatment
        and cure of sarcomas - a cancer of the bone and connective tissue of the body. Our Vision: To engage all appropriate
        and necessary resources to develop new therapeutic options that lead to improved outcomes for patients diagnosed
        with sarcoma Our Mission: To provide a collaborative platform to make progress in the prevention, diagnosis and treatment
        of sarcoma
      </p>
    </div>
    <div class="team-container" fxFlexOffset='40px' fxFlex='33'>
      <div fxLayout="row" fxLayoutGap='20px'>
        <img mat-card-image style="width:425px; height: 75px;" src="assets/about/sttr.jpg">
      </div>
      <p style="padding-top: 25px; line-height: 20px;">Bridging Cancer Research and Clinical Care Fred Hutchinson Cancer Research Center, UW Medicine and Seattle Cancer Care
        Alliance are bridging laboratory sciences and patient care to provide the most precise treatment options for patients
        with cancer. Patients world-wide are benefiting from these efforts. Collectively, these leading cancer research and
        clinical care organizations are enhancing our knowledge of cancer using population research, preclinical cancer biology,
        translational, imaging and clinical studies of solid tumors and hematologic cancers. Seattle Translational Tumor
        Research (STTR) creates environments which enable researchers and clinicians to accelerate scientific discovery and
        translate it into cures for patients; and has established programs addressing a number of cancers.
      </p>
    </div>
  </div>








  <!-- <div style='line-height: 20px; margin-bottom:50px;'>
    <span style='font-weight: 300; font-size: 1rem;margin-top: 0px;'>STTR </span>
    <br />
    <span style='font-weight: 300; font-size: 1rem;margin-top: 0px;'>Fred Hutch </span>
    <br />
    <span style='font-weight: 300; font-size: 1rem;margin-top: 0px;'>Sarcoma Alliance for Research Through Collaboration</span>
    <br />
  </div> -->




  <!-- <div class='team-copy'>
    <img src='assets/about/STTR.png' height='300px' width='300px;'>
    <span class='team-copy-title'>Seattle Translational Tumor Research</span>
    <div class='team-copy-desc'>sdlkfjsldjf</div>
  </div>
  <div class='team-copy '>
    <img src='assets/about/fhcrc.jpg' height='100px' width='100px;'>
    <span class='team-copy-title'>Fred Hutchinson Cancer Research Center</span>
    <div class='team-copy-desc'>lsdkfjdlsjf</div>
  </div>
  <div class='team-copy '>
    <img src='assets/about/sarc.jpg' height='100px' width='100px;'>
    <span class='team-copy-title'>Sarcoma Alliance for Research Through Collaboration</span>
    <div class='team-copy-desc'>lsdkjfsdfjls</div>
  </div> -->


  <footer class='landing-footer '>
    <div fxLayout='row ' fxLayout.sm='column ' fxLayout.xs='column ' fxLayoutAlign="space-between center">
      <div class="footer-text">
        <p>
          2018 Fred Hutch 1100 Fairview Ave. N.
        </p>
        <p>P.O. Box 19024, Seattle, WA 98109</p>
        <p>
          <a style='color:#fff; text-decoration: none; ' href="http://www.fredhutch.org/en/util/terms-privacy.html ">Terms of Use &amp; Privacy Policy</a>
        </p>
      </div>
      <div>
        <div class='section-footer '>
          <span class='footer-text '>Let's Connect:
            <a href=" https://twitter.com/oncoscape " target="_blank ">
              <i class="fa fa-twitter-square fa-3x social "></i>
            </a>
            <a href="https://www.instagram.com/oncoscape/ " target="_blank ">
              <i class="fa fa-instagram fa-3x social "></i>
            </a>
            <a href="https://www.facebook.com/STTRCancer/ " target="_blank ">
              <i class="fa fa-facebook-square fa-3x social "></i>
            </a>
            <a href="mailto:contact-sttr@fredhutch.org " target="_blank ">
              <i class="fa fa-envelope-square fa-3x social "></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>



















<!-- <div class='team-copy '>
    <img class='team-copy-thumb responsive-img' src='assets/about/holland.jpg'>
    <p class='team-copy-title'>Eric Holland</p>
    <div class='team-copy-desc'>Dr. Holland is an internationally renowned neurosurgeon and brain cancer researcher. As senior vice president and director
      of the Human Biology Division of the Fred Hutchinson Cancer Research Center, Dr. Holland encourages collaboration among
      faculty with a broad range of expertise – from molecular and cellular... like oncoscape...
    </div>
  </div>
  <div class='team-copy  '>
    <img class='team-copy-thumb responsive-img' src='assets/about/zager.jpg'>
    <p class='team-copy-title'>Michael Zager</p>
    <div class='team-copy-desc'>Mr. Zager has been crafting digital strategies and executions for the past 15 years. He has served in leadership roles
      at several notable experiential and digital agencies and partnered with bio-tech, start-up and Fortune 500 companies
      such as Proctor &amp; Gamble, Toyota and Coca-Cola. Prior to joining the Fred Hutch, Michael was responsible for evolving
      and supporting all digital marketing platforms in T-Mobile’s retail stores. Michael’s passionate for transforming people’s
      lives with cutting edge technology lead him to the Fred Hutchinson. Today, he contributes enterprise architecture,
      software development best practices and big data expertise to Oncoscape.</div>
  </div>



  <div class='team-copy '>
    <img class='team-copy-thumb responsive-img' src='assets/about/krenn.jpg'>
    <p class='team-copy-title'>Gretchen Krenn</p>
    <div class='team-copy-desc'>Ms. Krenn started her research career on the bench and eventually moved to a program management roll assisting in the
      establishment of a central tissue repository for several national clinical trials. During her time in tissue banking
      she managed multiple SQL research databases. Motivated by the massive amounts of data being generated she began to
      further develop her programming skills to focus on front-end development and data visualization. On the Oncoscape team
      her education, research and software development background help to understand the limitations we face as researchers
      and guide to establish relevant cloud based solutions for the center.
    </div>
  </div>
  <div class='team-copy '>
    <img class='team-copy-thumb responsive-img' src='assets/about/zhang.jpg'>
    <p class='team-copy-title'>Jenny Zhang</p>
    <div class='team-copy-desc'>Ms. Zhang, coming from biomedical science background, is also passionate about coding. She is a lab technician working
      with tumor molecular profiling. Her programming skillset includes R, javascript, and etc. She is very excited to contribute
      to Oncoscape from web-lab-based data-collection to dry-lab-based data packing and web application development.</div>
  </div>



  <div class='team-copy '>
    <img class='team-copy-thumb responsive-img' src='assets/about/galbraith.jpg'>
    <p class='team-copy-title'> Rachel Galbraith</p>
    <div class='team-copy-desc'>
      Ms. Galbraith is the Operations Director for Seattle Translational Tumor Research (STTR). The program is based at Fred Hutch
      bringing together over 500 faculty spanning oncology research efforts at Fred Hutch, UW Medicine, Seattle Cancer Care
      Alliance, Seattle Children’s Research Institute and several other Seattle-area translational research institutions.
      Her goal through this effort is to enhance collaborative scientific effort, eliminate barriers to cancer research,
      raise money to fund innovative research, facilitate access to clinical specimens, data, and technology that will speed
      research and improve cancer prevention, treatment and detection. She has helped to shape the direction of Oncoscape
      based on knowledge of needs within the research community. With a background in molecular genetics and cell biology,
      and research experience in genetic factors contributing to cancer risk, she can understand the challenges researchers
      face in analyzing large-scale data and leverage that insight to inform the development of tools within Oncoscape. This
      helps ensure that tools developed are impactful and transformative for the research community.
    </div>

    <div class='team-copy'>
      <img class='team-copy-thumb responsive-img' src='assets/about/mcdermott.jpg'>
      <p class='team-copy-title'>Robert McDermott</p>
      <div class='team-copy-desc'>
        Mr. McDermott started his career at the Fred Hutch in 2000 as an IT professional in Center IT. During that time, he has been
        involved with the design, implementation and administration of many IT systems including email, server virtualization,
        storage, cloud computing and more. He’s most interested in working on projects that have a direct and positive impact
        on the important research that is happening at the Center.
      </div>
    </div> -->
