/* GRID */

.g {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizeLegibility; /* Webkit: fixes text-rendering: optimizeLegibility */
  
    /* Use flexbox when possible to avoid `letter-spacing` side-effects. */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    /* Prevents distributing space between rows */
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
}

/* IE10 display: -ms-flexbox (and display: flex in IE 11) does not work inside a table; fall back to block and rely on font hack */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	table .g {
		display: block;
	}
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.g {
    word-spacing: -0.43em;
}

.u {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.g [class *= "u"] {
    font-family: sans-serif;
}

@media screen and (min-width: 35.5em) {
    .sm-1,
    .sm-1-1,
    .sm-1-2,
    .sm-1-3,
    .sm-2-3,
    .sm-1-4,
    .sm-3-4,
    .sm-1-5,
    .sm-2-5,
    .sm-3-5,
    .sm-4-5,
    .sm-5-5,
    .sm-1-6,
    .sm-5-6,
    .sm-1-8,
    .sm-3-8,
    .sm-5-8,
    .sm-7-8,
    .sm-1-12,
    .sm-5-12,
    .sm-7-12,
    .sm-11-12,
    .sm-1-24,
    .sm-2-24,
    .sm-3-24,
    .sm-4-24,
    .sm-5-24,
    .sm-6-24,
    .sm-7-24,
    .sm-8-24,
    .sm-9-24,
    .sm-10-24,
    .sm-11-24,
    .sm-12-24,
    .sm-13-24,
    .sm-14-24,
    .sm-15-24,
    .sm-16-24,
    .sm-17-24,
    .sm-18-24,
    .sm-19-24,
    .sm-20-24,
    .sm-21-24,
    .sm-22-24,
    .sm-23-24,
    .sm-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .sm-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .sm-1-12,
    .sm-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .sm-1-8,
    .sm-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .sm-1-6,
    .sm-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .sm-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .sm-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .sm-1-4,
    .sm-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .sm-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .sm-1-3,
    .sm-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .sm-3-8,
    .sm-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .sm-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .sm-5-12,
    .sm-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .sm-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .sm-1-2,
    .sm-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .sm-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .sm-7-12,
    .sm-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .sm-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .sm-5-8,
    .sm-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .sm-2-3,
    .sm-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .sm-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .sm-3-4,
    .sm-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .sm-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .sm-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .sm-5-6,
    .sm-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .sm-7-8,
    .sm-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .sm-11-12,
    .sm-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .sm-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .sm-1,
    .sm-1-1,
    .sm-5-5,
    .sm-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .md-1,
    .md-1-1,
    .md-1-2,
    .md-1-3,
    .md-2-3,
    .md-1-4,
    .md-3-4,
    .md-1-5,
    .md-2-5,
    .md-3-5,
    .md-4-5,
    .md-5-5,
    .md-1-6,
    .md-5-6,
    .md-1-8,
    .md-3-8,
    .md-5-8,
    .md-7-8,
    .md-1-12,
    .md-5-12,
    .md-7-12,
    .md-11-12,
    .md-1-24,
    .md-2-24,
    .md-3-24,
    .md-4-24,
    .md-5-24,
    .md-6-24,
    .md-7-24,
    .md-8-24,
    .md-9-24,
    .md-10-24,
    .md-11-24,
    .md-12-24,
    .md-13-24,
    .md-14-24,
    .md-15-24,
    .md-16-24,
    .md-17-24,
    .md-18-24,
    .md-19-24,
    .md-20-24,
    .md-21-24,
    .md-22-24,
    .md-23-24,
    .md-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .md-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .md-1-12,
    .md-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .md-1-8,
    .md-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .md-1-6,
    .md-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .md-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .md-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .md-1-4,
    .md-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .md-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .md-1-3,
    .md-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .md-3-8,
    .md-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .md-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .md-5-12,
    .md-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .md-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .md-1-2,
    .md-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .md-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .md-7-12,
    .md-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .md-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .md-5-8,
    .md-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .md-2-3,
    .md-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .md-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .md-3-4,
    .md-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .md-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .md-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .md-5-6,
    .md-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .md-7-8,
    .md-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .md-11-12,
    .md-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .md-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .md-1,
    .md-1-1,
    .md-5-5,
    .md-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .lg-1,
    .lg-1-1,
    .lg-1-2,
    .lg-1-3,
    .lg-2-3,
    .lg-1-4,
    .lg-3-4,
    .lg-1-5,
    .lg-2-5,
    .lg-3-5,
    .lg-4-5,
    .lg-5-5,
    .lg-1-6,
    .lg-5-6,
    .lg-1-8,
    .lg-3-8,
    .lg-5-8,
    .lg-7-8,
    .lg-1-12,
    .lg-5-12,
    .lg-7-12,
    .lg-11-12,
    .lg-1-24,
    .lg-2-24,
    .lg-3-24,
    .lg-4-24,
    .lg-5-24,
    .lg-6-24,
    .lg-7-24,
    .lg-8-24,
    .lg-9-24,
    .lg-10-24,
    .lg-11-24,
    .lg-12-24,
    .lg-13-24,
    .lg-14-24,
    .lg-15-24,
    .lg-16-24,
    .lg-17-24,
    .lg-18-24,
    .lg-19-24,
    .lg-20-24,
    .lg-21-24,
    .lg-22-24,
    .lg-23-24,
    .lg-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .lg-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .lg-1-12,
    .lg-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .lg-1-8,
    .lg-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .lg-1-6,
    .lg-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .lg-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .lg-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .lg-1-4,
    .lg-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .lg-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .lg-1-3,
    .lg-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .lg-3-8,
    .lg-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .lg-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .lg-5-12,
    .lg-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .lg-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .lg-1-2,
    .lg-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .lg-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .lg-7-12,
    .lg-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .lg-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .lg-5-8,
    .lg-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .lg-2-3,
    .lg-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .lg-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .lg-3-4,
    .lg-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .lg-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .lg-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .lg-5-6,
    .lg-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .lg-7-8,
    .lg-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .lg-11-12,
    .lg-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .lg-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .lg-1,
    .lg-1-1,
    .lg-5-5,
    .lg-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    .xl-1,
    .xl-1-1,
    .xl-1-2,
    .xl-1-3,
    .xl-2-3,
    .xl-1-4,
    .xl-3-4,
    .xl-1-5,
    .xl-2-5,
    .xl-3-5,
    .xl-4-5,
    .xl-5-5,
    .xl-1-6,
    .xl-5-6,
    .xl-1-8,
    .xl-3-8,
    .xl-5-8,
    .xl-7-8,
    .xl-1-12,
    .xl-5-12,
    .xl-7-12,
    .xl-11-12,
    .xl-1-24,
    .xl-2-24,
    .xl-3-24,
    .xl-4-24,
    .xl-5-24,
    .xl-6-24,
    .xl-7-24,
    .xl-8-24,
    .xl-9-24,
    .xl-10-24,
    .xl-11-24,
    .xl-12-24,
    .xl-13-24,
    .xl-14-24,
    .xl-15-24,
    .xl-16-24,
    .xl-17-24,
    .xl-18-24,
    .xl-19-24,
    .xl-20-24,
    .xl-21-24,
    .xl-22-24,
    .xl-23-24,
    .xl-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .xl-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .xl-1-12,
    .xl-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .xl-1-8,
    .xl-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .xl-1-6,
    .xl-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .xl-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .xl-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .xl-1-4,
    .xl-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .xl-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .xl-1-3,
    .xl-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .xl-3-8,
    .xl-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .xl-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .xl-5-12,
    .xl-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .xl-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .xl-1-2,
    .xl-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .xl-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .xl-7-12,
    .xl-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .xl-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .xl-5-8,
    .xl-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .xl-2-3,
    .xl-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .xl-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .xl-3-4,
    .xl-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .xl-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .xl-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .xl-5-6,
    .xl-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .xl-7-8,
    .xl-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .xl-11-12,
    .xl-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .xl-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .xl-1,
    .xl-1-1,
    .xl-5-5,
    .xl-24-24 {
        width: 100%;
    }
}

/* Offsets */
@media screen and (min-width: 35.5em) {
    .os-sm-0 {
      margin-left:0;
    }

    .os-sm-1-2 {
      margin-left: 50%;
      *margin-left: 49.995%;
    }

    .os-sm-1-3 {
      margin-left: 33.33%;
      *margin-left: 33.325%;
    }

    .os-sm-2-3 {
      margin-left: 66.67%;
      *margin-left: 66.665%;
    }

    .os-sm-1-4 {
      margin-left: 25%;
      *margin-left: 24.995%;
    }

    .os-sm-3-4 {
      margin-left: 75%;
      *margin-left: 74.995%;
    }

    .os-sm-1-5 {
      margin-left: 20%;
      *margin-left: 19.995%;
    }

    .os-sm-2-5 {
      margin-left: 40%;
      *margin-left: 39.995%;
    }

    .os-sm-3-5 {
      margin-left: 60%;
      *margin-left: 59.995%;
    }

    .os-sm-4-5 {
      margin-left: 80%;
      *margin-left: 79.995%;
    }

    .os-sm-1-6 {
      margin-left: 16.66%;
      *margin-left: 16.655%;
    }

    .os-sm-5-6 {
      margin-left: 83.33%;
      *margin-left: 83.325%;
    }

    .os-sm-1-8 {
      margin-left: 12.5%;
      *margin-left: 12.495%;
    }

    .os-sm-3-8 {
      margin-left: 37.5%;
      *margin-left: 37.495%;
    }

    .os-sm-5-8 {
      margin-left: 62.5%;
      *margin-left: 62.495%;
    }

    .os-sm-7-8 {
      margin-left: 87.5%;
      *margin-left: 87.495%;
    }

    .os-sm-1-12 {
      margin-left: 8.33%;
      *margin-left: 8.325%;
    }

    .os-sm-5-12 {
      margin-left: 41.67%;
      *margin-left: 41.665%;
    }

    .os-sm-7-12 {
      margin-left: 58.33%;
      *margin-left: 58.325%;
    }

    .os-sm-11-12 {
      margin-left: 91.67%;
      *margin-left: 91.665%;
    }

    .os-sm-1-24 {
      margin-left: 4.17%;
      *margin-left: 4.165%;
    }

    .os-sm-5-24 {
      margin-left: 20.83%;
      *margin-left: 20.825%;
    }

    .os-sm-7-24 {
      margin-left: 29.17%;
      *margin-left: 29.165%;
    }

    .os-sm-11-24 {
      margin-left: 45.83%;
      *margin-left: 45.825%;
    }

    .os-sm-13-24 {
      margin-left: 54.17%;
      *margin-left: 54.165%;
    }

    .os-sm-17-24 {
      margin-left: 70.83%;
      *margin-left: 70.825%;
    }

    .os-sm-19-24 {
      margin-left: 79.17%;
      *margin-left: 79.165%;
    }

    .os-sm-23-24 {
      margin-left: 95.83%;
      *margin-left: 95.825%;
    }

}

@media screen and (min-width: 48em) {
    .os-md-0 {
      margin-left:0;
    }

    .os-md-1-2 {
      margin-left: 50%;
      *margin-left: 49.995%;
    }

    .os-md-1-3 {
      margin-left: 33.33%;
      *margin-left: 33.325%;
    }

    .os-md-2-3 {
      margin-left: 66.67%;
      *margin-left: 66.665%;
    }

    .os-md-1-4 {
      margin-left: 25%;
      *margin-left: 24.995%;
    }

    .os-md-3-4 {
      margin-left: 75%;
      *margin-left: 74.995%;
    }

    .os-md-1-5 {
      margin-left: 20%;
      *margin-left: 19.995%;
    }

    .os-md-2-5 {
      margin-left: 40%;
      *margin-left: 39.995%;
    }

    .os-md-3-5 {
      margin-left: 60%;
      *margin-left: 59.995%;
    }

    .os-md-4-5 {
      margin-left: 80%;
      *margin-left: 79.995%;
    }

    .os-md-1-6 {
      margin-left: 16.66%;
      *margin-left: 16.655%;
    }

    .os-md-5-6 {
      margin-left: 83.33%;
      *margin-left: 83.325%;
    }

    .os-md-1-8 {
      margin-left: 12.5%;
      *margin-left: 12.495%;
    }

    .os-md-3-8 {
      margin-left: 37.5%;
      *margin-left: 37.495%;
    }

    .os-md-5-8 {
      margin-left: 62.5%;
      *margin-left: 62.495%;
    }

    .os-md-7-8 {
      margin-left: 87.5%;
      *margin-left: 87.495%;
    }

    .os-md-1-12 {
      margin-left: 8.33%;
      *margin-left: 8.325%;
    }

    .os-md-5-12 {
      margin-left: 41.67%;
      *margin-left: 41.665%;
    }

    .os-md-7-12 {
      margin-left: 58.33%;
      *margin-left: 58.325%;
    }

    .os-md-11-12 {
      margin-left: 91.67%;
      *margin-left: 91.665%;
    }

    .os-md-1-24 {
      margin-left: 4.17%;
      *margin-left: 4.165%;
    }

    .os-md-5-24 {
      margin-left: 20.83%;
      *margin-left: 20.825%;
    }

    .os-md-7-24 {
      margin-left: 29.17%;
      *margin-left: 29.165%;
    }

    .os-md-11-24 {
      margin-left: 45.83%;
      *margin-left: 45.825%;
    }

    .os-md-13-24 {
      margin-left: 54.17%;
      *margin-left: 54.165%;
    }

    .os-md-17-24 {
      margin-left: 70.83%;
      *margin-left: 70.825%;
    }

    .os-md-19-24 {
      margin-left: 79.17%;
      *margin-left: 79.165%;
    }

    .os-md-23-24 {
      margin-left: 95.83%;
      *margin-left: 95.825%;
    }

}

@media screen and (min-width: 64em) {
    .os-lg-0 {
      margin-left:0;
    }

    .os-lg-1-2 {
      margin-left: 50%;
      *margin-left: 49.995%;
    }

    .os-lg-1-3 {
      margin-left: 33.33%;
      *margin-left: 33.325%;
    }

    .os-lg-2-3 {
      margin-left: 66.67%;
      *margin-left: 66.665%;
    }

    .os-lg-1-4 {
      margin-left: 25%;
      *margin-left: 24.995%;
    }

    .os-lg-3-4 {
      margin-left: 75%;
      *margin-left: 74.995%;
    }

    .os-lg-1-5 {
      margin-left: 20%;
      *margin-left: 19.995%;
    }

    .os-lg-2-5 {
      margin-left: 40%;
      *margin-left: 39.995%;
    }

    .os-lg-3-5 {
      margin-left: 60%;
      *margin-left: 59.995%;
    }

    .os-lg-4-5 {
      margin-left: 80%;
      *margin-left: 79.995%;
    }

    .os-lg-1-6 {
      margin-left: 16.66%;
      *margin-left: 16.655%;
    }

    .os-lg-5-6 {
      margin-left: 83.33%;
      *margin-left: 83.325%;
    }

    .os-lg-1-8 {
      margin-left: 12.5%;
      *margin-left: 12.495%;
    }

    .os-lg-3-8 {
      margin-left: 37.5%;
      *margin-left: 37.495%;
    }

    .os-lg-5-8 {
      margin-left: 62.5%;
      *margin-left: 62.495%;
    }

    .os-lg-7-8 {
      margin-left: 87.5%;
      *margin-left: 87.495%;
    }

    .os-lg-1-12 {
      margin-left: 8.33%;
      *margin-left: 8.325%;
    }

    .os-lg-5-12 {
      margin-left: 41.67%;
      *margin-left: 41.665%;
    }

    .os-lg-7-12 {
      margin-left: 58.33%;
      *margin-left: 58.325%;
    }

    .os-lg-11-12 {
      margin-left: 91.67%;
      *margin-left: 91.665%;
    }

    .os-lg-1-24 {
      margin-left: 4.17%;
      *margin-left: 4.165%;
    }

    .os-lg-5-24 {
      margin-left: 20.83%;
      *margin-left: 20.825%;
    }

    .os-lg-7-24 {
      margin-left: 29.17%;
      *margin-left: 29.165%;
    }

    .os-lg-11-24 {
      margin-left: 45.83%;
      *margin-left: 45.825%;
    }

    .os-lg-13-24 {
      margin-left: 54.17%;
      *margin-left: 54.165%;
    }

    .os-lg-17-24 {
      margin-left: 70.83%;
      *margin-left: 70.825%;
    }

    .os-lg-19-24 {
      margin-left: 79.17%;
      *margin-left: 79.165%;
    }

    .os-lg-23-24 {
      margin-left: 95.83%;
      *margin-left: 95.825%;
    }

}

@media screen and (min-width: 80em) {
    .os-xl-0 {
      margin-left:0;
    }

    .os-xl-1-2 {
      margin-left: 50%;
      *margin-left: 49.995%;
    }

    .os-xl-1-3 {
      margin-left: 33.33%;
      *margin-left: 33.325%;
    }

    .os-xl-2-3 {
      margin-left: 66.67%;
      *margin-left: 66.665%;
    }

    .os-xl-1-4 {
      margin-left: 25%;
      *margin-left: 24.995%;
    }

    .os-xl-3-4 {
      margin-left: 75%;
      *margin-left: 74.995%;
    }

    .os-xl-1-5 {
      margin-left: 20%;
      *margin-left: 19.995%;
    }

    .os-xl-2-5 {
      margin-left: 40%;
      *margin-left: 39.995%;
    }

    .os-xl-3-5 {
      margin-left: 60%;
      *margin-left: 59.995%;
    }

    .os-xl-4-5 {
      margin-left: 80%;
      *margin-left: 79.995%;
    }

    .os-xl-1-6 {
      margin-left: 16.66%;
      *margin-left: 16.655%;
    }

    .os-xl-5-6 {
      margin-left: 83.33%;
      *margin-left: 83.325%;
    }

    .os-xl-1-8 {
      margin-left: 12.5%;
      *margin-left: 12.495%;
    }

    .os-xl-3-8 {
      margin-left: 37.5%;
      *margin-left: 37.495%;
    }

    .os-xl-5-8 {
      margin-left: 62.5%;
      *margin-left: 62.495%;
    }

    .os-xl-7-8 {
      margin-left: 87.5%;
      *margin-left: 87.495%;
    }

    .os-xl-1-12 {
      margin-left: 8.33%;
      *margin-left: 8.325%;
    }

    .os-xl-5-12 {
      margin-left: 41.67%;
      *margin-left: 41.665%;
    }

    .os-xl-7-12 {
      margin-left: 58.33%;
      *margin-left: 58.325%;
    }

    .os-xl-11-12 {
      margin-left: 91.67%;
      *margin-left: 91.665%;
    }

    .os-xl-1-24 {
      margin-left: 4.17%;
      *margin-left: 4.165%;
    }

    .os-xl-5-24 {
      margin-left: 20.83%;
      *margin-left: 20.825%;
    }

    .os-xl-7-24 {
      margin-left: 29.17%;
      *margin-left: 29.165%;
    }

    .os-xl-11-24 {
      margin-left: 45.83%;
      *margin-left: 45.825%;
    }

    .os-xl-13-24 {
      margin-left: 54.17%;
      *margin-left: 54.165%;
    }

    .os-xl-17-24 {
      margin-left: 70.83%;
      *margin-left: 70.825%;
    }

    .os-xl-19-24 {
      margin-left: 79.17%;
      *margin-left: 79.165%;
    }

    .os-xl-23-24 {
      margin-left: 95.83%;
      *margin-left: 95.825%;
    }
}