@import '~handsontable/dist/handsontable.full.css';
/* Remove Bounce Scroll ioS */
body{
    height: 100%;
    overflow: hidden;
    background: #FFF;
}
.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.dg.ac {
    top: 30px !important;
}
.dg.ac {
    top: 30px !important;
}
.dg.main.a{
    margin-right: 0px;

}
.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #039BE5;
    color: #fff;
}
 
.dg.main .close-button:hover {
    opacity: .8;
}

.dg {
    background: #fafafa;
    color: #039BE5;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.dg li:not(.folder) {
    background: #fefefe;
    border-bottom: 1px solid #eaeaea;
}
 
.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat; 
    background: #FAFAFA;
    border: 0px solid #eaeaea;
    border-left-width: 1px;
    border-bottom-width: 1px;
}
.dg .closed li.title {
    background: #FAFAFA;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}
 
.dg .c input[type=text] {
    background: #e9e9e9;
    height: 14px;
    font-size:10px;
    margin: 0px;
    margin-top: 3px;
}
 
.dg .c input[type=text]:hover {
    background: #eee;
}
 
.dg .c input[type=text]:focus {
    background: #eee;
    color: #eee;
}
 
.dg .c .slider {
    background: #e9e9e9;
    border-radius: 0px;
    padding: 0px;
}

.dg .c .slider:hover {
    background: #eee;
}
.dg .slider-fg {
    /* //display: none; */
    border-radius: 0px;
    margin: 0px;
    
}
.dg .c select{
    display: block;
    height: 20px;
    font-size:10px;
    margin: 0px;
    margin-top: 3px;
    background: #eee;
    border-radius: 0px;
}
.slider-fg:after{
    border-radius: 0px;
    display: none;
}


.graph-title {
    position:absolute;
    top: 95vh;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    /* background: rgba(255,255,255,.5); */
}

  
