@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue, 600);
$accent:  mat-palette($mat-blue-grey);
$warn:    mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
// $theme: mat-light-theme($primary, $accent, $warn);
$theme: mat-light-theme($primary, $accent, $warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 32px, 300),
  $title: mat-typography-level(14px, 14px, 500),
  $body-1: mat-typography-level(14px, 16px, 300)
);

@include angular-material-typography($custom-typography);


/* Popup Panel */

.panel {
  color: #333333;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: scroll;
  padding-top:100px;
  background: #FFF;
}
.panel-column-title{
    margin-bottom: 10px !important;
    // text-transform:uppercase;
    font-weight: 300;
    padding-bottom: 10px;
}
.panel-header {
  padding: 0px;
  margin-bottom: 0px !important;
}
.panel-header-desc {
  padding: 0px;
  margin: 0px;
  margin-bottom: 60px !important;
}
.panel-button-image {
    display: block;
    position:relative;
    padding-left: 40px;
    padding-bottom: 8px;
    img {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0px;
        top: -3px;
    }
    span{
      line-height: 20px;
      vertical-align: top;
    }
}