@import '~handsontable/dist/handsontable.full.css';
@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-blue);
$warn: mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
// $theme: mat-light-theme($primary, $accent, $warn);
$theme: mat-light-theme($primary, $accent, $warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config( $font-family: 'Lato, monospace', $headline: mat-typography-level(32px, 32px, 300), $title: mat-typography-level(13px, 16px, 300), $body-1: mat-typography-level(13px, 16px, 300), $body-2: mat-typography-level(13px, 16px, 300), $button: mat-typography-level(13px, 16px, 300), $input: mat-typography-level(1em, 1, 300), $subheading-2: mat-typography-level(13px, 16px, 300));
@include angular-material-typography($custom-typography);
/* Disable Text Select */

// Global Styles
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  max-height: 100vh;
}

* :focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
  ;
}

.z-label {
  white-space: nowrap;
}

.z-tooltip {
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  background: #fff;
  border: 3px solid #fff;
}

.z-tooltip:after,
.z-tooltip:before {
  right: 100%;
  top: 12px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.z-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}

.z-tooltip:before {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 16px;
  margin-top: -16px;
}

// Material Overrides
body .mat-button-focus-overlay {
  background-color: transparent;
}

.mat-menu-item {
  height: 25px;
  line-height: 25px;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-expansion-panel-body {
  padding-top: 10px !important;
  border: 0px solid #eeeeee;
  border-bottom-width: 1px;
}

.mat-form-field-underline {
  background-color: #eeeeee !important;
}

.mat-expansion-panel-header {
  background: #fafafa !important;
  border: 0px solid #eeeeee !important;
  border-bottom-width: 1px !important;
}

.mat-expansion-panel-header-title {
  font-weight: 300; // background:rgba(0, 0, 0, 0.87);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mat-select {
  .mat-select-arrow {
    opacity: 0;
  }
}

.mat-select:hover {
  .mat-select-arrow {
    opacity: 1;
  }
}

/* Links */

.os-link {
  color: mat-color($primary);
  text-decoration: none;
}

.os-link:hover {
  color: mat-color($primary);
  text-decoration: none;
}

.os-link:visited {
  color: mat-color($primary);
  text-decoration: none;
}

/* Panel Config (geneset / cohort / pathway) */

.panel-config-row-add {
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;
  height: 40px;
  text-transform: capitalize;
  i {
    color: mat-color($primary);
    margin-right: 10px;
  }
  div {
    text-transform: capitalize;
    position: absolute;
    left: 30px;
    top: 0px;
  }
}

.panel-config-row-del {
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;
  height: 20px;
  text-transform: capitalize;
  i {
    color: mat-color($primary);
    margin-right: 10px;
  }
  div {
    text-transform: capitalize;
    position: absolute;
    left: 30px;
    top: 0px;
  }
}

.panel-builder-label {
  display: inline-block;
  text-align: left;
  font-weight: 400;
  text-transform: capitalize;
  width: 50px;
}

.panel-builder-criteria-row {
  .panel-builder-buttons {
    visibility: hidden;
  }
}

.panel-builder-criteria-row:hover {
  .panel-builder-buttons {
    visibility: visible;
  }
}

/* Popup Panel */

/* Angular Mobile First Cheat Sheet 
{
  xs: 'screen and (max-width: 599px)'
  sm: 'screen and (min-width: 600px) and (max-width: 959px)'
  md: 'screen and (min-width: 960px) and (max-width: 1279px)'
  lg: 'screen and (min-width: 1280px) and (max-width: 1919px)'
  xl: 'screen and (min-width: 1920px) and (max-width: 5000px)'
}
*/

/* Rules for sizing the icon. */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.form-field {
  width: 100%;
}

.form-field-1-2 {
  width: 50%;
}

.form-field-1-3 {
  width: 33%;
}

.modalClose {
  $size: 50px;
  height: $size;
  width: $size;
  position: fixed;
  right: 40px;
  top: 70px;
  box-sizing: border-box;
  line-height: $size;
  display: inline-block;
  color: black;
  &:before,
  &:after {
    $width: 50px;
    $height: 2px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$height/2;
    margin-left: -$width/2;
    display: block;
    height: $height;
    width: $width;
    background-color: mat-color($primary);
    transition: all 0.25s ease-out;
  }
  &:after {
    transform: rotate(-135deg);
  }
  &:hover {
    &:before,
    &:after {
      transform: rotate(0deg);
    }
  }
}

// Main Themes XS 
.panel {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30px;
  bottom: 0px;
  overflow: hidden;
  padding-top: 50px;
  overflow-y: scroll;
  padding: 50px 10px;
  background: #FFF;
  z-index: 1;
}

.panel-header {
  padding: 0px;
  margin-bottom: 5px !important;
  line-height: 10px;
  letter-spacing: 2px;
}

.panel-sub-header {
  padding: 0px;
  margin-top: 18px !important;
  margin-bottom: 0px !important;
  line-height: 10px;
  letter-spacing: 2px;
  font-size: 18px !important;
  ;
  line-height: 22px !important;
  ;
}

.panel-header-desc {
  padding: 0px;
  margin: 0px;
  padding-top: 5px !important;
  margin-bottom: 10px !important;
}

.panel-column-title {
  margin-bottom: 0px;
  font-weight: 400 !important;
  padding-bottom: 0px !important;
  padding-top: 30px;
  letter-spacing: 1px;
}

.panel-button-link {
  display: block;
}

.button {
  color: #fff;
  background: #1e88e5;
}

// SM
@media screen and (min-width: 600px) and (max-width: 959px) {
  .panel {
    padding: 50px 50px;
  }
}

// MD
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .panel {
    padding: 50px 75px;
  }
  .panel-button-link {
    display: inline-block;
    width: 33%;
  }
}

// LG
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .panel {
    padding: 50px 100px;
  }
  .panel-button-link {
    display: inline-block;
    width: 33%;
  }
}

// XL
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .panel {
    padding: 50px 300px;
  }
  .panel-button-link {
    display: inline-block;
    width: 20%;
  }
}

// Responsive Mobile First
// Selectors and styles affecting screens SMALLER THAN 360px (smallPhones) 
.dashboard-modal-panel {
  padding: 20px;
  background: #FFF;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  overflow: scroll;
  z-index: 1;
}

.modalClose {
  height: 115px;
  width: 50px;
  position: fixed;
  right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 50px;
  display: inline-block;
}

.dashboard-h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 3px;
  margin-top: 47px;
  padding-bottom: 18px;
}

.dashboard-h2 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  /* Selectors and styles affecting screens WIDER THAN 767px (tablets) */
  .dashboard-modal-panel {
    padding: 40px;
  }
  .dashboard-h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  /* Selectors and styles affecting screens WIDER THAN 1200px (Desktop) */
  .dashboard-modal-panel {
    padding: 60px;
  }
  .modalClose {
    height: 50px;
    right: 60px;
  }
  .dashboard-h1 {
    font-size: 3rem;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
  .dashboard-h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
}
