@import '~handsontable/dist/handsontable.full.css';
@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-blue-grey);
$warn: mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
// $theme: mat-light-theme($primary, $accent, $warn);
$theme: mat-light-theme($primary, $accent, $warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config( 
  $font-family: 'Lato, monospace', 
  $headline: mat-typography-level(32px, 32px, 300), 
  $title: mat-typography-level(13px, 16px, 300), 
  $body-1: mat-typography-level(13px, 16px, 300), 
  $body-2: mat-typography-level(13px, 16px, 300), 
  $button: mat-typography-level(13px, 16px, 300), 
  $input: mat-typography-level(1em, 1, 300), 
  $subheading-2: mat-typography-level(13px, 16px, 300));
@include angular-material-typography($custom-typography);
/* Disable Text Select */

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* :focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  font-weight: 300; // background:rgba(0, 0, 0, 0.87);
  // padding: 0px;
}

.mat-select {
  .mat-select-arrow {
    opacity: 0;
  }
}

.mat-select:hover {
  .mat-select-arrow {
    opacity: 1;
  }
}

.os-link {
  color: mat-color($primary);
  text-decoration: none;
}

.os-link:hover {
  color: mat-color($primary);
  text-decoration: none;
}

.os-link:visited {
  color: mat-color($primary);
  text-decoration: none;
}

/* Popup Panel */

/* Angular Mobile First Cheat Sheet 
{
  xs: 'screen and (max-width: 599px)'
  sm: 'screen and (min-width: 600px) and (max-width: 959px)'
  md: 'screen and (min-width: 960px) and (max-width: 1279px)'
  lg: 'screen and (min-width: 1280px) and (max-width: 1919px)'
  xl: 'screen and (min-width: 1920px) and (max-width: 5000px)'
}
*/

/* Rules for sizing the icon. */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.form-field {
  width: 100%;
}

.form-field-1-2 {
  width: 100%; // width: 50%
}

.form-field-1-3 {
  width: 100%; // width: 33%
}

.modalClose {
  $size: 50px;
  height: $size;
  width: $size;
  position: fixed;
  right: 40px;
  top: 70px;
  box-sizing: border-box;
  line-height: $size;
  display: inline-block;
  color: black;
  &:before,
  &:after {
    $width: 50px;
    $height: 2px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$height/2;
    margin-left: -$width/2;
    display: block;
    height: $height;
    width: $width;
    background-color: mat-color($primary);
    transition: all 0.25s ease-out;
  }
  &:after {
    transform: rotate(-135deg);
  }
  &:hover {
    &:before,
    &:after {
      transform: rotate(0deg);
    }
  }
}

// Main Themes XS 
.panel {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30px;
  bottom: 0px;
  overflow: hidden;
  padding-top: 50px;
  overflow-y: scroll;
  padding: 50px 10px;
  background: #FFF;
}

.panel-header {
  padding: 0px;
  margin-bottom: 5px !important;
  line-height: 10px;
  letter-spacing: 2px;
}

.panel-sub-header {
  padding: 0px;
  margin-top: 18px !important;
  margin-bottom: 0px !important;
  line-height: 10px;
  letter-spacing: 2px;
  font-size: 18px !important;
  ;
  line-height: 22px !important;
  ;
}

.panel-header-desc {
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 10px !important;
}

.panel-column-title {
  margin-bottom: 0px;
  font-weight: 400 !important;
  padding-bottom: 5px !important;
  padding-top: 20px;
  letter-spacing: 1px;
}

.panel-button-link {
  display: block;
}

.button {
  color: #fff;
  background: #1e88e5;
}

// SM
@media screen and (min-width: 600px) and (max-width: 959px) {
  .panel {
    padding: 50px 50px;
  }
}

// MD
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .panel {
    padding: 50px 75px;
  }
  .panel-button-link {
    display: inline-block;
    width: 33%;
  }
}

// LG
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .panel {
    padding: 50px 100px;
  }
  .panel-button-link {
    display: inline-block;
    width: 33%;
  }
}

// XL
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .panel {
    padding: 50px 300px;
  }
  .panel-button-link {
    display: inline-block;
    width: 20%;
  }
}
