<div>
    <div style='text-align:center;padding-top:40px;padding-bottom:40px'>
        <h1 style='text-transform:uppercase;letter-spacing:20px;font-size:3.5rem;color:#039be5;'>Oncoscape</h1>
        <h2>
            Oncoscape is a data visualization platform for research and clinical genomics.
            <br /> Mine public datasets or explore your own using more than 20 interactive tool.
            <br /> Our mission is to acclerate your research.
        </h2>
        <p style='padding-top:10px'>
            <a href="#" (click)="getStartedClick()"
            style='background: #039be5;color: white;padding: 10px;'>Get Started</a>
        </p>
    </div>

    <div style="text-align:center;">
        <div class='landing-img-container'>
            <img class='landing-img' src='/assets/landing/img-1.jpg'>
            <!-- <div class="overlay">
                    <div class="text">Force Directed Graph (HIC) is an algorithm that assign forces to HIC data and outputs puts them as </div>
                  </div> -->
            <div class="landing-caption col s12 m6" >Force Directed Graph (HIC)</div>
        </div>
        <div class='landing-img-container'>
            <img class='landing-img' src='/assets/landing/img-4.jpg'>
            <div class="landing-caption col s12 m6" >Edges</div>
        </div>
        <div class='landing-img-container'>
            <img class='landing-img' src='/assets/landing/img-pathway.jpg'>
            <div class="landing-caption col s12 m6" >Pathways</div>
        </div>
        <div class='landing-img-container'>
            <img class='landing-img' src='/assets/landing/img-chromo.jpg'>
            <div class="landing-caption col s12 m6" >Chromosome</div>
        </div>
        <div class='landing-img-container'>
            <img class='landing-img' src='/assets/landing/img-genome.jpg'>
            <div class="landing-caption col s12 m6" >Genome</div>
        </div>
        <div class='landing-img-container'>
            <img class='landing-img' src='/assets/landing/img-scatter.jpg'>
            <div class="landing-caption col s12 m6" >Clustering Methods</div>
        </div>
        <div class='landing-img-container'>
            <img class='landing-img' src='/assets/landing/img-heatmap.jpg'>
            <div class="landing-caption col s12 m6" >Heatmap + Denogram</div>
        </div>
    </div>
</div>