.button {
    letter-spacing: 5px;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-left: 900px;
    margin-bottom: 80px;
}
.caption-style-4{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  
    
}
.caption-style-4 li{
    // float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.caption-style-4 li:hover .caption{
    opacity: 1;
}
.caption-style-4 li:hover img{
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
    -ms-transform:scale(1.15,1.15);
    -o-transform:scale(1.15,1.15);
}
.caption-style-4 img{
    margin: 0px;
    padding: 0px;
    // float: left;
    z-index: 0;
    width: auto;
}
.caption-style-4 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
}
.caption-style-4 img{
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.caption-style-4 .blur{
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}
.caption-style-4 .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
}
.caption-style-4 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top:100px;
}
/** Nav Menu */
ul.nav-menu{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 900px;
    margin: 60px auto;
}
ul.nav-menu li{
    display: inline;
    margin-right: 10px;
    padding:10px;
    border: 1px solid #000000;
}
ul.nav-menu li a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
ul.nav-menu li a:hover, ul.nav-menu li a.active{
    color: #000000;
} 
/** content **/
.content{
    margin-top: 100px;
    margin-left: 100px;
    width: 500px;
}
.content h1, {
    color: #0383c2;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    letter-spacing: 20px;
    text-transform: uppercase;
}
.content h1{
    font-weight: 300;
    font-size: 64px;
}
.content h2{
    font-size:20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 100px;
}
.content p{
    color: #666666;
    font-family: "Lato";
    line-height: 28px;
    font-size: 15px;
    
}
p.credit{
    padding-top: 20px;
    font-size: 12px;
}
p a{
    color: #666666;
}

