<div>
    <div style='text-align:center;'>
        <h1 style='text-transform:uppercase;letter-spacing:10px;'>Oncoscape</h1>
        <h2>
            Oncoscape is a data visualization platform for research and clinical genomics.<br />
            Mine public datasets or explore your own using more than 20 interactive tool.<br />
            Our mission is to acclerate your research.
        </h2>
        <p>
            <a href="#" (click)="getStartedClick()">Get Started</a>
        </p>
    </div>
    
    <div style="padding-top:40px">
        <img class='landing-img' src='/assets/landing/img-1.jpg'>
        <img class='landing-img' src='/assets/landing/img-4.jpg'>
        <img class='landing-img' src='/assets/landing/img-pathway.jpg'>
        <img class='landing-img' src='/assets/landing/img-chromo.jpg'>
        
        <img class='landing-img' src='/assets/landing/img-genome.jpg'>
        
        <img class='landing-img' src='/assets/landing/img-scatter.jpg'>
        <img class='landing-img' src='/assets/landing/img-heatmap.jpg'>
    </div>
</div>
