// Responsive Mobile First

/* Selectors and styles affecting screens SMALLER THAN 767px (Phones) */
 .landing-h1 {
    color: #039be5;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    margin-right: 0px;
    margin-top: 0px;
}
.landing-h2 {
    text-transform: uppercase;
    color: #666666;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
}


.landing-images {
    line-height: 0;
    font-size: 0px;
 }
 .landing-image-container { 
    display: inline-block;
    width: 18% !important;
    height: 55vh !important;
    padding: 0px;
    margin: 0px;
    margin-right: 2%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #666666;
 }
 .landing-image-container :last-child { 
    padding-right: 0px;
 }


 .landing-link {
    color: #fff;
    letter-spacing: 10px;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    background: #039be5;
    padding: 7px 25px;
    margin-top: 8px;
    display: inline-block;
    width: 18%;
    cursor: pointer;
    margin-top: -30px;
}

.landing-link:hover {
   background:#5e35b1;
}

.landing-link-copy {
    width: 82%;
    line-height: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    background: #FFF;
    padding: 7px 20px;
    margin-top: 8px;
    display: inline-block;
}




// .landing-copy-desc { 
//     position: absolute;
//     left: 20px;
//     top:50px;
//     padding-right:50px;
//     font-size: 1.2rem;
//     line-height: 2rem;
// }



.landing-section-title {
    color: #666;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    margin-right: 0px;
    margin-top: 0px;
}
 




.landing-copy {
    display: block;
    position: relative;
    
    margin-bottom: 20px;
    padding: 0px;
    padding-right:10px;
}
.landing-tool-image { 
    border: 1px solid #666666;
    width: 100px;
    height: 100px;
    float:left;
    background-size: 100px 100px !important;
    margin-right:20px;

}
 .landing-copy-title { 
    text-transform: uppercase;
    color: #039be5;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 5px;
    display: block;
 }

 