<div class="panel" style='position:absolute;top:0px;z-index:99999;padding-bottom:0px;'>
  <div>
    <div style='letter-spacing: 8px;
    font-weight: 200;
    font-size: 2.5rem;
    color: #1e88e5;
    text-transform: uppercase;'>Oncoscape</div>
    <div style='font-size: 1rem; text-transform: uppercase; color: #666; letter-spacing: 5px; padding-top: 30px;'>Accelerate your research </div>
  </div>

  <div fxLayout.xs="column">
    <div fxFlex.sm='1 1 100%' fxFlex.md='1 1 100%' fxFlex.lg='1 1 100%' fxFlex.xl='1 1 100%'>
      <section>
        <div fxFlex.xs="50%" fxFlex="20%" class='landing-image-container' style='background: url(assets/landing/img-1.jpg) no-repeat; background-position: 20% 8%; -webkit-background-size: 100% auto;'></div>
        <div fxHide.xs fxFlex="20%" fxFlexOffset='20px' class='landing-image-container' style='background: url(assets/landing/img-4.jpg) no-repeat; background-position: 50% 50%; -webkit-background-size: 100% auto;'></div>
        <div fxHide.xs fxFlex="20%" fxFlexOffset='20px' class='landing-image-container' style='background: url(assets/landing/img-chromo.jpg) no-repeat; background-position: 0% 0%; -webkit-background-size: 100% auto;'></div>
        <div fxHide.xs fxFlex="20%" fxFlexOffset='20px' class='landing-image-container' style='background: url(assets/landing/img-genome.jpg) no-repeat; background-position: 0% 0%; -webkit-background-size: 150% auto;'></div>
        <div fxFlex.xs="50%" fxFlex="20%" fxFlexOffset='20px' class='landing-image-container' style='background: url(assets/landing/img-scatter.jpg) no-repeat; background-position: 20% 50%; -webkit-background-size: 150% auto;'></div>
      </section>
    </div>
  </div>

  <div fxLayout.xs="column">
    <div style='padding-bottom: 30px;' fxLayout="row">
      <button mat-button (click)="getStartedClick()" class='button button-shrink'>Get Started
      </button>
      <span class='landing-span'>Maximize the potential of your clinical and genomic data by combining it with best-in-class analysis, reference data
        sets and domain-specific visualizations. To request training or a custom solution contact us at
        <a style='color: #1e88e5; text-decoration: none;' href='mailto:contact-sttr@fredhutch.org '>contact-sttr@fredhutch.org.</a>
      </span>
    </div>
  </div>




  <!-- <div>
      <section style='padding-bottom: 30px;' fxFlex.sm='1 1 100%' fxFlex.md='1 1 100%' fxFlex.lg='1 1 100%' fxFlex.xl='1 1 100%'>
        <button fxFlex='15%' (click)="getStartedClick()" class='button' style='letter-spacing: 5px; line-height: 25px;
        text-transform: uppercase; text-align: left; font-size: 1rem; font-weight: 100;' mat-button>Get
          <br /> Started
        </button>
  
        <div fxFlexOffset='20px' fxFlex='85%' style='line-height: 25px;'>
          <span>Maximize the potential of your clinical and genomic data by combining it with best-in-class analysis, reference data
            sets and domain-specific visualizations. To request training or a custom solution contact us at
            <a style='color: #1e88e5; text-decoration: none;' href='mailto:contact@oncoscape.org'>contact@oncoscape.org</a>.
          </span>
        </div>
      </section>
    </div> -->


  <div class='landing-headers'></div>
  <div class='landing-section-title'>Analysis</div>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 100%' fxFlex.md='1 1 100%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/opensource.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Reliable</span>
      <span class='landing-copy-desc'>All data manipulation and augmentation is done using established open source libraries and public stores with citations.
      </span>
    </div>

    <div fxFlex.sm='1 1 100%' fxFlex.md='1 1 100%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/reproducible.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Reproducible</span>
      <span class='landing-copy-desc'>All analysis in Oncoscape is fully reproducible. Pause, rewind and interrogate every variable and result.</span>
    </div>
  </section>
  <div class='landing-headers'></div>
  <div class='landing-section-title'>Data</div>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/tcga.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Public Data Sets</span>
      <span class='landing-copy-desc'>Explore The Cancer Genome Atlas (TCGA) and other curated data from our growing list of reference libraries.</span>
    </div>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/datahub.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Private Data Upload</span>
      <span class='landing-copy-desc'>
        Securely manage and analyze your clinical and genomics data, then share results with colleges.
      </span>
    </div>
  </section>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/genesets2.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Gene Sets</span>
      <span class='landing-copy-desc'>Select from thousands of curated gene sets from MSigDB or create your own.</span>
    </div>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/pathway-commons.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Pathways</span>
      <span class='landing-copy-desc'>Select from thousands of top level pathways from Reactome, PathwayCommons, and more. </span>
    </div>
  </section>
  <div class='landing-headers'></div>
  <div class='landing-section-title'>Visualization</div>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy ' class='landing-copy '>
      <div style='background: url(assets/landing/dashboard.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Clinical Dashboard</span>
      <span class='landing-copy-desc'>Compare cohorts at a glance</span>
    </div>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy ' class='landing-copy'>
      <div style='background: url(assets/landing/spreadsheet.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Spreadsheet</span>
      <span class='landing-copy-desc'>Sort and export your data, cohorts and genes of interest in tabular format.</span>
    </div>
  </section>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy ' class='landing-copy '>
      <div style='background: url(assets/landing/decomp.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Matrix Decomposition</span>
      <span class='landing-copy-desc'>Visualize the inherent spatial structure of high dimensional datasets in 3D. With 13 fully customizable linear dimension
        reduction algorithm, select from 5 variants of PCA, Factor Analysis, LDA, SVD and more.</span>
    </div>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy ' class='landing-copy '>
      <div style='background: url(assets/landing/manifoldlearning.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Manifold Learning</span>
      <span class='landing-copy-desc'>Like Matrix Decomposition, Manifold Learning seeks to unveil the spatial structure of high dimensional datasets. Unlike
        Matrix Decomposition the dimension reduction process is non-linear. Available methods include T-SNE, MDS, IsoMap,
        Local Linear and Spectral Embedding.</span>
    </div>
  </section>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy ' class='landing-copy '>
      <div style='background: url(assets/landing/heatmap3.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Heat map</span>
      <span class='landing-copy-desc'>Sort, group and visualize your data using 7 agglomerative clustering algorithms in conjunction with 20 distance metrics.
        Leverage dendrogram to sub select populations of samples or markers for further investigation.</span>
    </div>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/genome.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Genome</span>
      <span class='landing-copy-desc'>Identify chromosomal regions of interest by projecting your data onto a visual representation of the genome. Overlay
        CNV, Gistic or expression data along with Topically Aligned Domains and Cytobands. Explore thousands of curated gene
        sets or create your own.</span>
    </div>
  </section>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/chromosome.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Chromosome</span>
      <span class='landing-copy-desc'>Compare datasets at the chromosomal level with circos and linear visualizations. Overlay pathways or topically aligned
        domains.
      </span>
    </div>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/pathways-tool.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Pathways</span>
      <span class='landing-copy-desc'>Overlay your data on over 5,900 pathways curated from Kegg, Panther, Reactome, SMPDB, WikiPathways and Pathway Commons.
      </span>
    </div>
  </section>
  <section fxLayout.xs='column'>
    <div class='landing-copy '>
      <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' style='background: url(assets/landing/survival.jpg) no-repeat;'
        class='landing-tool-image'></div>
      <span class='landing-copy-title'>Survival</span>
      <span class='landing-copy-desc'>Estimate and compare survival and hazard rates for patient populations using Kaplin Kaplan-Meier, Nelson-Aalen, Aalen,
        Weibull and Cox models. </span>
    </div>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/hazard.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Hazard</span>
      <span class='landing-copy-desc'>Estimate and compare survival and hazard rates for patient populations using Kaplin Kaplan-Meier, Nelson-Aalen, Aalen,
        Weibull and Cox models. </span>
    </div>
  </section>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/timelines.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Timelines</span>
      <span class='landing-copy-desc'>Visualize patterns in time series data with an interactive swimmer plot. Sort, group and highlight patients using clinical
        attributes.
      </span>
    </div>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/box-whiskers.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Box + Whisker</span>
      <span class='landing-copy-desc'>Gain insights into the distribution of your data by visualizing the minimum, first quartile, median, 3rd quartile and
        maximum values.</span>
    </div>
  </section>
  <section fxLayout.xs='column'>
    <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' class='landing-copy '>
      <div style='background: url(assets/landing/forcedirected.jpg) no-repeat;' class='landing-tool-image'></div>
      <span class='landing-copy-title'>Force Directed Graph</span>
      <span class='landing-copy-desc'>Visualize graph data in three-dimensions using a class of algorithms called "force directed graphs." These algorithms
        use the number and strength of connections to position nodes.</span>
    </div>
    <div class='landing-copy '>
      <div fxFlex.sm='1 1 50%' fxFlex.md='1 1 50%' fxFlex.lg='1 1 50%' fxFlex.xl='1 1 50%' style='background: url(assets/landing/edges.jpg) no-repeat;'
        class='landing-tool-image'></div>
      <span class='landing-copy-title'>Edges</span>
      <span class='landing-copy-desc'>Connect multiple graphs with edges. Link tumor/normal samples or visualize mutations.</span>
    </div>
  </section>
  <footer class='landing-footer'>

    <div fxLayout="row">
      <div fxFlex='30%' class="address-text">
        <p>
          2018 Fred Hutchinson Cancer Research Center 1100 Fairview Ave. N.
        </p>
        <p>P.O. Box 19024, Seattle, WA 98109</p>
        <p>
          <a style='color:#fff; text-decoration: none;' href="http://www.fredhutch.org/en/util/terms-privacy.html ">Terms of Use &amp; Privacy Policy</a>
        </p>
      </div>
      <div fxFlex='70%' fxFlexOffset="15">
        <section class='section-footer'>
          <span class='footer-text'>To request training or a custom solution contact us at:
            <a href=" https://twitter.com/oncoscape " target="_blank ">
              <i class="fa fa-twitter-square fa-3x social "></i>
            </a>
            <a href="https://www.instagram.com/oncoscape/ " target="_blank ">
              <i class="fa fa-instagram fa-3x social "></i>
            </a>
            <a href="https://www.facebook.com/STTRCancer/ " target="_blank ">
              <i class="fa fa-facebook-square fa-3x social "></i>
            </a>
            <a href="mailto:contact-sttr@fredhutch.org " target="_blank ">
              <i class="fa fa-envelope-square fa-3x social "></i>
            </a>
          </span>
        </section>
      </div>
    </div>

  </footer>
</div>






<!-- Through a suite of interoperable tools, researchers can develop cohorts and test hypothoses and enrich their
    own datasets. -->
<!-- 

    The rapid growth of cloud computing, public data sets and analytic methods presents both opportunities and challenges. STTR
    develops software products and provides professional services that enable researchers and clinicians to extract
    maximal biological mean from complex genomic data. To accelerate research the STTR developed Oncoscape, an omics-focused
    data visualization platform. The solution enables researchers to analyze and augment their clinical and molecular
    data with industry standard analytic libraries and NCI sponsored datasets respectively. To learn more or request
    a custom solution, contact us at contact@oncoscape.org -->